@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
      display: block;
}

 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul, li {
      list-style: none;
  list-style-type: none;
  display: inline-block;
}

blockquote, q {
      quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
      content: '';
      content: none;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

body {
  color: red;
}

@media only screen and (max-width: 600px) {
  body {
    color: green;
  }
}

#about-section {
  z-index: 16000;
  height: 50vh;
  background-color: pink;
  height: 150px;
  position: relative;
}

#about-section #about-text {
  font-size: .5em;
  color: #3d3c3c;
  background-image: url("../../images/about/profile-pic-small.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#about-section .overlay-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 100;
  opacity: .3;
}

/* Style the navigation menu */
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

#logo_image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

.fa-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  padding-right: 25px;
}

/* Style navigation menu links */
.icon {
  color: #fdcb17;
  text-decoration: none;
  font-size: 17px;
  display: block;
  padding: 0;
  margin: 0;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

#text_logo {
  font-size: .8em;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fdcb17;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
}

#text_logo:focus {
  color: #feb836;
}

#text_logo:hover {
  color: red;
}

#text_logo:active {
  color: #feb836;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#container-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-section {
  padding: 2vh 3vw 2vh 3vw;
}

#heroOverlay {
  background: -webkit-radial-gradient(#d8d8d8, #a3a3a3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

#menu {
  display: none;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#header-section {
  height: 22vw;
}

#logoImage {
  position: relative;
  width: 20vw;
  height: 20vw;
  -webkit-animation: logo_fade_in forwards;
          animation: logo_fade_in forwards;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

@-webkit-keyframes logo_fade_in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes logo_fade_in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

#heroOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  top: 0;
  left: 0;
  -webkit-animation-name: background-fade-in;
          animation-name: background-fade-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes background-fade-in {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

@keyframes background-fade-in {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .slicknav_menu {
    display: none;
  }
  #menu {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */