@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
      display: block;
}

  h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

blockquote,
q {
      quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
      content: "";
      content: none;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
      display: block;
}

  h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

blockquote,
q {
      quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
      content: "";
      content: none;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

#homePage {
  width: 100%;
  height: 161.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd306;
  position: relative;
  top: 0;
  left: 0;
  z-index: -10;
}

#homePage .container_logo {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#homePage .container_logo .logoImage {
  width: 70vw;
}

#homePage .container_logo .hero_message {
  text-align: center;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homePage .container_logo .hero_message .hero_text {
  color: #012040;
  font-family: "Special Elite", cursive;
  font-size: 4vw;
  color: #012040;
  line-height: 5vw;
}

#homePage .container_logo .cursor {
  display: inline-block;
  width: 0.2vw;
  height: 4vw;
  background-color: #212529;
  -webkit-animation: blink 0.75s step-end infinite;
          animation: blink 0.75s step-end infinite;
  opacity: 0.6;
}

@-webkit-keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #212529;
  }
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #212529;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #homePage {
    height: 100vh;
  }
  #homePage .container_logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  #homePage .container_logo .logoImage {
    width: 40vh;
    margin-bottom: 0vh;
  }
  #homePage .container_logo .hero_message {
    text-align: center;
    height: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homePage .container_logo .hero_message .hero_text {
    color: #012040;
    font-family: "Special Elite", cursive;
    font-size: 3vw;
    color: #012040;
    line-height: 5vw;
  }
  #homePage .container_logo .cursor {
    display: inline-block;
    width: 0.2vw;
    height: 4vw;
    background-color: #212529;
    -webkit-animation: blink 0.75s step-end infinite;
            animation: blink 0.75s step-end infinite;
    opacity: 0.6;
  }
}

@media only screen and (min-width: 992px) {
  #homePage {
    width: 100%;
    height: 161.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffd306;
    position: relative;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #homePage .container_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #homePage .container_logo .logoImage {
    width: 25vw;
  }
  #homePage .container_logo .hero_message {
    text-align: center;
    height: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  #homePage .container_logo .hero_message .hero_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #012040;
    line-height: 0.5vw;
    height: 0vw;
    font-size: 1.5vw;
    color: #012040;
  }
  #homePage .container_logo .hero_message .cursor {
    display: inline-block;
    width: 0.2vw;
    height: 2vw;
    background-color: #212529;
    -webkit-animation: blink 0.75s step-end infinite;
            animation: blink 0.75s step-end infinite;
    opacity: 0.6;
  }
  @-webkit-keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: #212529;
    }
  }
  @keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: #212529;
    }
  }
}

#skillsPage {
  background: url(../../images/paper_fibers.png);
  background-size: 200px;
  background-color: white;
}

#skillsPage .container {
  max-width: 100%;
}

#skillsPage #progress-bars-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#skillsPage #progress-bars-section .progress-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4vw;
  width: 100%;
  margin-bottom: 3.4vw;
}

#skillsPage #progress-bars-section .progress-bar-container .skill-name,
#skillsPage #progress-bars-section .progress-bar-container .progressPercentage {
  color: #949393;
}

#skillsPage #progress-bars-section .progress-bar-container .skill-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 0;
  font-size: 2.5vw;
  font-weight: 400;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  line-height: 100%;
  overflow: visible;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  z-index: 2;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 7.7;
      -ms-flex-positive: 7.7;
          flex-grow: 7.7;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage {
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .progressPercentage {
  height: 100%;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2vw;
  background-color: #fdcb17;
  padding-left: 1.5vw;
  font-size: 2vw;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .html {
  width: 80%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .scss {
  width: 75%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .javascript {
  width: 60%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .jQuery {
  width: 65%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .bootstrap {
  width: 55%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .ajax {
  width: 50%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .responsive-design {
  width: 65%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .react {
  width: 75%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .jest {
  width: 55%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .typescript {
  width: 50%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .node {
  width: 75%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .express {
  width: 50%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .agile {
  width: 90%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .git {
  width: 55%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .photoshop {
  width: 85%;
}

@media only screen and (min-width: 992px) {
  #skillsPage {
    height: 100vh;
  }
  #skillsPage #progress-bars-section .progress-bar-container {
    height: 1.8vw;
    width: 95%;
    margin-bottom: 1.9vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #skillsPage #progress-bars-section .progress-bar-container .skill-name {
    font-size: 0.9vw;
    width: 100%;
    position: absolute;
    padding-left: 0.75vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skillsPage #progress-bars-section .progress-bar-container .progress-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  #skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage {
    width: 95%;
    height: 100%;
  }
  #skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .progressPercentage {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0.7vw;
    font-size: 0.9vw;
  }
}

#portfolioPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #214261;
}

#portfolioPage .container {
  max-width: 100%;
}

#portfolioPage #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#portfolioPage #projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vh;
  height: 96.5%;
  overflow: hidden;
}

#portfolioPage #projects .project-container .myVideo {
  width: 100%;
  height: auto;
}

#portfolioPage #projects .project-container .project-image {
  width: 100%;
  height: auto;
}

#portfolioPage #projects .project-container .project-text {
  width: 100%;
  height: 100%;
  background-color: #fffdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #214261;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolioPage #projects .project-container .project-text .project-name {
  margin-top: 8vw;
  font-size: 3.7vw;
  color: #214261;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#portfolioPage #projects .project-container .project-text .project-description {
  margin-top: 3vw;
  text-align: left;
  width: 100%;
  color: #214261;
  padding: 0 7vw;
  font-size: 3.3vw;
  line-height: 7vw;
  font-weight: 400;
}

#portfolioPage #projects .project-container .project-text .project-description ul {
  margin-top: 2vw;
  padding-left: 4.5vw;
}

#portfolioPage #projects .project-container .project-text .project-description ul li {
  padding-left: 0.5vw;
}

#portfolioPage #projects .project-container .project-text .preview_link {
  background-color: #dbbd7f;
  padding: 2vw 6vw;
  text-align: center;
  border-radius: 6vw;
  font-size: 3vw;
  margin: 7vw 0;
}

#portfolioPage #projects .project-container .project-text .preview_link a {
  color: #214261;
  font-size: 2.3vw;
  color: inherit;
  text-transform: uppercase;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}

#portfolioPage #projects .portfolio-site {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#portfolioPage #projects .e-commerce {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#portfolioPage #projects .drum-machine {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  #portfolioPage #projects a {
    text-decoration: none;
  }
  #portfolioPage #projects .project-container {
    margin-bottom: 5vh;
    position: relative;
    background-color: white;
  }
  #portfolioPage #projects .project-container .project_overlay {
    background: #070707;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
  #portfolioPage #projects .project-container .project_overlay:hover {
    opacity: 0.2;
  }
  #portfolioPage #projects .project-container .project-text {
    width: 95%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  #portfolioPage #projects .project-container .project-text .project-name {
    margin-top: 6vw;
    font-size: 2vw;
  }
  #portfolioPage #projects .project-container .project-text .project-description {
    margin-top: 1.2vw;
    text-align: justify;
    width: 100%;
    padding: 0 2vw;
    padding-bottom: 6vw;
    font-size: 1.6vw;
    line-height: 3.3vw;
    font-weight: 400;
  }
  #portfolioPage #projects .project-container .project-text .project-description ul {
    margin-top: 1.5vw;
    padding-left: 1.5vw;
  }
  #portfolioPage #projects .project-container .project-text .project-description ul li {
    padding-left: 0.3vw;
  }
  #portfolioPage #projects .project-container .project-text .preview_link {
    padding: 0.8vw 2.5vw;
    border-radius: 6vw;
    margin: 3vw 0;
    font-size: 1.3vw;
    color: inherit;
    font-weight: 600;
    position: absolute;
    bottom: -0.5vw;
  }
}

@media only screen and (min-width: 992px) {
  #portfolioPage #projects a {
    text-decoration: none;
  }
  #portfolioPage #projects .project-container {
    margin-bottom: 5vh;
    position: relative;
    background-color: white;
  }
  #portfolioPage #projects .project-container .project_overlay {
    background: #070707;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
  #portfolioPage #projects .project-container .project_overlay:hover {
    opacity: 0.2;
  }
  #portfolioPage #projects .project-container .project-text {
    width: 95%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  #portfolioPage #projects .project-container .project-text .project-name {
    margin-top: 4vw;
    font-size: 1.3vw;
  }
  #portfolioPage #projects .project-container .project-text .project-description {
    margin-top: 1.2vw;
    text-align: justify;
    width: 100%;
    padding: 0 2vw;
    padding-bottom: 8vw;
    font-size: 1vw;
    line-height: 2.2vw;
    font-weight: 400;
  }
  #portfolioPage #projects .project-container .project-text .project-description ul {
    margin-top: 1vw;
    padding-left: 1.5vw;
  }
  #portfolioPage #projects .project-container .project-text .project-description ul li {
    padding-left: 0.3vw;
  }
  #portfolioPage #projects .project-container .project-text .preview_link {
    padding: 0.8vw 2.5vw;
    border-radius: 6vw;
    margin: 3vw 0;
    font-size: 0.8vw;
    color: inherit;
    font-weight: 600;
    position: absolute;
    bottom: -0.5vw;
  }
}

#contactPage {
  background-color: #ffd306;
}

#contactPage .container_content {
  margin-top: 8vw;
}

#contactPage .container {
  max-width: 100%;
}

#contactPage #sucess_message {
  font-size: 3.2vw;
  display: block;
  width: 100%;
  margin-bottom: 3vw;
  display: none;
}

#contactPage #contact-greeting {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-top: 4vw;
  font-size: 4vw;
  color: white;
  text-align: center;
}

#contactPage .section-subheading {
  color: #212529;
}

#contactPage form {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#contactPage form input,
#contactPage form textarea {
  border-style: solid;
  border-width: 0.2px;
  border-color: #bdbbbb;
  margin-bottom: 4vw;
  font-size: 3vw;
}

#contactPage form input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #bdbbbb;
  padding: 1vw;
  color: grey;
}

#contactPage form textarea {
  outline: none;
  display: block;
  width: 100%;
  height: 20vw;
  padding: 1.5vw;
  color: grey;
  text-align: left;
}

#contactPage form input[type="submit"] {
  background-color: #214261;
  color: white;
  width: 33%;
  padding: 2.3vw 3.5vw;
  border-radius: 6px;
  font-size: 3vw;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container_content {
    margin-top: 8vw;
  }
  #contactPage #sucess_message {
    font-size: 3.2vw;
    margin-bottom: 3vw;
    display: none;
  }
  #contactPage form input,
  #contactPage form textarea {
    border-width: 0.2px;
    margin-bottom: 2.5vw;
    font-size: 2vw;
  }
  #contactPage form input {
    padding: 0.5vw;
  }
  #contactPage form textarea {
    height: 20vw;
    padding: 0.5vw;
  }
  #contactPage form input[type="submit"] {
    width: 23%;
    padding: 0.6vw;
    border-radius: 2vw;
    font-size: 2vw;
  }
}

@media only screen and (min-width: 992px) {
  #contactPage #sucess_message {
    font-size: 1.1vw;
    margin-bottom: 1.5vw;
  }
  #contactPage .container_content {
    margin-top: 4vw;
  }
  #contactPage form {
    margin-top: 0;
    width: 100%;
  }
  #contactPage form input,
  #contactPage form textarea {
    font-size: 0.8vw;
    padding: 0.3vw;
    border-width: 1px;
    width: 100%;
    margin-bottom: 1.5vw;
  }
  #contactPage form textarea {
    outline: none;
    display: block;
    width: 100%;
    height: 14vw;
    color: grey;
  }
  #contactPage form input[type="submit"] {
    width: 8vw;
    padding: 0.2vw 0.2vw;
    border-radius: 6px;
    font-size: 1.2vw;
    margin-top: 0vw;
  }
}

#header-main {
  background-color: #ffd306;
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

#header-main .my-container {
  width: 100%;
  max-width: 1400px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-main .my-container #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  overflow: hidden;
  width: 100%;
  margin: 2vw;
  margin-top: 3vw;
  opacity: 1;
}

@-webkit-keyframes nav-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes nav-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header-main .my-container #nav-bar #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 100%;
  position: relative;
  z-index: 200;
  margin: 0;
  padding: 0;
}

#header-main .my-container #nav-bar #menu li {
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-main .my-container #nav-bar #menu li a {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
  color: #012040;
  font-size: 3vw;
  padding: 7vw;
}

#header-main .my-container #nav-bar #menu li a:hover {
  color: #6b6a6a;
}

@media only screen and (min-width: 768px) {
  #header-main .my-container #nav-bar #menu li a {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 992px) {
  #header-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header-main .my-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header-main .my-container .nav-fade-in-desktop {
    -webkit-animation: nav-fade-in-desktop 0.7s forwards;
            animation: nav-fade-in-desktop 0.7s forwards;
    background: transparent;
  }
  @-webkit-keyframes nav-fade-in-desktop {
    from {
      background: transparent;
      color: #012040;
    }
    to {
      background: #04003a;
      color: white;
    }
  }
  @keyframes nav-fade-in-desktop {
    from {
      background: transparent;
      color: #012040;
    }
    to {
      background: #04003a;
      color: white;
    }
  }
  #header-main .my-container .nav-fade-out-desktop {
    -webkit-animation: nav-fade-out-desktop 0.7s forwards;
            animation: nav-fade-out-desktop 0.7s forwards;
    background: black;
  }
  @-webkit-keyframes nav-fade-out-desktop {
    from {
      background: black;
    }
    to {
      background: transparent;
    }
  }
  @keyframes nav-fade-out-desktop {
    from {
      background: black;
    }
    to {
      background: transparent;
    }
  }
  #header-main .my-container #nav-bar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-top: 1vw;
    padding: 2vw;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 100;
  }
  #header-main .my-container #nav-bar #menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header-main .my-container #nav-bar #menu li a {
    font-size: 0.9vw;
    color: inherit;
    padding: 1.6vw;
    margin: 0;
  }
}

#footerPage {
  background-color: #214261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  height: 9vh;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footerPage #logoImage_footer {
  width: 20vw;
  display: none;
  margin: 0;
  padding: 0;
}

#footerPage .container {
  max-width: 100%;
}

#footerPage .copyRight {
  color: white;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: bold;
  font-size: 2vw;
  margin-left: 2vw;
  width: auto;
  text-align: center;
  display: block;
}

@media only screen and (min-width: 768px) {
  #footerPage {
    height: 13vh;
  }
  #footerPage #logoImage_footer {
    width: 10vw;
    display: inline-block;
  }
  #footerPage .copyRight {
    font-size: 1.5vw;
    margin-left: 1vw;
  }
}

@media only screen and (min-width: 992px) {
  #footerPage {
    height: 24vh;
  }
  #footerPage #logoImage_footer {
    width: 6vw;
    display: inline-block;
  }
  #footerPage .copyRight {
    font-size: 1vw;
    display: block;
    width: auto;
    margin-left: 1vw;
  }
}

#header-main {
  background-color: #ffd306;
  background-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

#header-main .my-container {
  width: 100%;
  max-width: 1400px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-main .my-container #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  overflow: hidden;
  width: 100%;
  margin: 2vw;
  margin-top: 3vw;
  opacity: 1;
}

@keyframes nav-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header-main .my-container #nav-bar #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 100%;
  position: relative;
  z-index: 200;
  margin: 0;
  padding: 0;
}

#header-main .my-container #nav-bar #menu li {
  list-style-type: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-main .my-container #nav-bar #menu li a {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
  color: #012040;
  font-size: 3vw;
  padding: 7vw;
}

#header-main .my-container #nav-bar #menu li a:hover {
  color: #6b6a6a;
}

@media only screen and (min-width: 768px) {
  #header-main .my-container #nav-bar #menu li a {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 992px) {
  #header-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header-main .my-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header-main .my-container .nav-fade-in-desktop {
    -webkit-animation: nav-fade-in-desktop 0.7s forwards;
            animation: nav-fade-in-desktop 0.7s forwards;
    background: transparent;
  }
  @-webkit-keyframes nav-fade-in-desktop {
    from {
      background: transparent;
      color: #012040;
    }
    to {
      background: #04003a;
      color: white;
    }
  }
  @keyframes nav-fade-in-desktop {
    from {
      background: transparent;
      color: #012040;
    }
    to {
      background: #04003a;
      color: white;
    }
  }
  #header-main .my-container .nav-fade-out-desktop {
    -webkit-animation: nav-fade-out-desktop 0.7s forwards;
            animation: nav-fade-out-desktop 0.7s forwards;
    background: black;
  }
  @-webkit-keyframes nav-fade-out-desktop {
    from {
      background: black;
    }
    to {
      background: transparent;
    }
  }
  @keyframes nav-fade-out-desktop {
    from {
      background: black;
    }
    to {
      background: transparent;
    }
  }
  #header-main .my-container #nav-bar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-top: 1vw;
    padding: 2vw;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 100;
  }
  #header-main .my-container #nav-bar #menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header-main .my-container #nav-bar #menu li a {
    font-size: 0.9vw;
    color: inherit;
    padding: 1.6vw;
    margin: 0;
  }
}

.menu-david a {
  color: white;
}

#button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

#homePage-david {
  width: 100%;
  height: 100vh;
  background: #ffd306;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

#homePage-david .container_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  -webkit-animation: move-up 1s forwards;
          animation: move-up 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move-up {
  from {
  }
  to {
    top: -15vw;
  }
}

@keyframes move-up {
  from {
  }
  to {
    top: -15vw;
  }
}

#homePage-david .container_logo .logo {
  width: 25vw;
  height: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#homePage-david .container_logo .logo .logoImage,
#homePage-david .container_logo .logo .t,
#homePage-david .container_logo .logo .dots,
#homePage-david .container_logo .logo .ribbon {
  width: 25vw;
  position: absolute;
}

#homePage-david .container_logo .logo .logoImage {
  z-index: 96;
  -webkit-animation: shrink forwards 1s;
          animation: shrink forwards 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  width: 25vw;
  overflow: hidden;
}

@-webkit-keyframes shrink {
  from {
    width: 25vw;
    opacity: 1;
  }
  to {
    width: 17vw;
    opacity: 0.8;
  }
}

@keyframes shrink {
  from {
    width: 25vw;
    opacity: 1;
  }
  to {
    width: 17vw;
    opacity: 0.8;
  }
}

#homePage-david .container_logo .logo .ribbon {
  z-index: 98;
  -webkit-animation: fade-out forwards 0.5s;
          animation: fade-out forwards 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#homePage-david .container_logo .logo .dots {
  z-index: 97;
  -webkit-animation: fade-out forwards 0.5s;
          animation: fade-out forwards 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#homePage-david .container_logo .logo .t {
  z-index: 97;
  -webkit-animation: fade-out forwards 0.5s;
          animation: fade-out forwards 0.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#homePage-david .container_logo .hero_message {
  display: none;
}

#homePage-david .container-david {
  width: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homePage-david .container-david .david {
  position: absolute;
  width: 59vw;
  z-index: 102;
  bottom: 0;
  -webkit-transform: translateX(-77vw);
          transform: translateX(-77vw);
  -webkit-animation: david-in 1s forwards ease-in;
          animation: david-in 1s forwards ease-in;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#homePage-david .container-david .above-logo {
  height: 100%;
  z-index: 101;
  -webkit-animation: background-fade-in 1s forwards ease-in;
          animation: background-fade-in 1s forwards ease-in;
  opacity: 0;
  left: 0;
  top: 0;
}

@-webkit-keyframes david-in {
  from {
    -webkit-transform: translateX(-77vw);
            transform: translateX(-77vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes david-in {
  from {
    -webkit-transform: translateX(-77vw);
            transform: translateX(-77vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#homePage-david #background-david {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  left: 0;
  top: 0;
}

@-webkit-keyframes background-out-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes background-out-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.menu-normal a {
  color: #012040;
}

#homePage-normal {
  overflow: hidden;
  width: 100%;
  height: 161.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homePage-normal .container_logo {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homePage-normal .container_logo .logo {
  width: 60vw;
  height: 60vw;
  display: relative;
}

#homePage-normal .container_logo .logo .ribbon,
#homePage-normal .container_logo .logo .t,
#homePage-normal .container_logo .logo .dots,
#homePage-normal .container_logo .logo .logoImage-grow {
  width: 60vw;
  margin-bottom: 0vh;
  display: inline-block;
  position: absolute;
  z-index: 96;
}

#homePage-normal .container_logo .logo .ribbon {
  z-index: 98;
}

#homePage-normal .container_logo .logo .dots {
  z-index: 97;
}

#homePage-normal .container_logo .logo .t {
  z-index: 97;
}

#homePage-normal .container_logo .logo .logoImage-grow {
  width: 60vw;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#homePage-normal .container_logo .hero_message {
  width: 100vw;
  text-align: center;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homePage-normal .container_logo .hero_message .hero_greeting {
  color: #012040;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 4vw;
  font-weight: bolder;
  line-height: 7vw;
}

#homePage-normal .container_logo .hero_message .hero_text {
  color: #012040;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3vw;
  color: #012040;
  line-height: 5vw;
}

#homePage-normal #background-david {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -21;
  opacity: 1;
  left: 0;
  top: 0;
}

#homePage-normal #background-normal {
  background: #ffd306;
  z-index: -1;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

#homePage-normal .background-fade-in {
  -webkit-animation: background-fade-in 2s;
          animation: background-fade-in 2s;
}

@-webkit-keyframes background-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes background-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#homePage-normal .opacity_one {
  opacity: 1;
}

#homePage-normal .background-fade-out {
  -webkit-animation: background-fade-out 1s;
          animation: background-fade-out 1s;
}

@-webkit-keyframes background-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes background-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#homePage-normal .cursor {
  display: inline-block;
  width: 0.5vw;
  height: 4vw;
  background-color: #212529;
  -webkit-animation: blink 0.75s step-end infinite;
          animation: blink 0.75s step-end infinite;
  opacity: 0.6;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #212529;
  }
}

@media only screen and (min-width: 768px) {
  #homePage {
    height: 100vh;
  }
  #homePage #container_logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  #homePage-normal {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #homePage-normal .container-logo-animation {
    -webkit-animation: move-down 1s forwards;
            animation: move-down 1s forwards;
  }
  @-webkit-keyframes move-down {
    from {
      top: -15vw;
    }
    to {
      top: 0vw;
    }
  }
  @keyframes move-down {
    from {
      top: -15vw;
    }
    to {
      top: 0vw;
    }
  }
  #homePage-normal .container_logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    position: relative;
    top: 0vw;
  }
  #homePage-normal .container_logo .logo-position {
    top: -15vw;
  }
  #homePage-normal .container_logo .logo {
    width: 25vw;
    height: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  #homePage-normal .container_logo .logo .ribbon,
  #homePage-normal .container_logo .logo .t,
  #homePage-normal .container_logo .logo .dots,
  #homePage-normal .container_logo .logo .logoImage {
    width: 25vw;
    margin-bottom: 0vh;
    display: inline-block;
    position: absolute;
    z-index: 96;
  }
  #homePage-normal .container_logo .logo .logo-animation {
    -webkit-animation: grow forwards 1s;
            animation: grow forwards 1s;
  }
  #homePage-normal .container_logo .logo .opacity_zero {
    opacity: 0;
  }
  @-webkit-keyframes grow {
    from {
      width: 17vw;
      opacity: 0.8;
    }
    to {
      width: 25vw;
      opacity: 1;
    }
  }
  @keyframes grow {
    from {
      width: 17vw;
      opacity: 0.8;
    }
    to {
      width: 25vw;
      opacity: 1;
    }
  }
  #homePage-normal .container_logo .logo .ribbon {
    z-index: 98;
  }
  #homePage-normal .container_logo .logo .ribbon-animation {
    -webkit-animation: fade-in forwards 0.5s;
            animation: fade-in forwards 0.5s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  #homePage-normal .container_logo .logo .dots {
    z-index: 97;
  }
  #homePage-normal .container_logo .logo .dots-animation {
    -webkit-animation: fade-in forwards 0.5s;
            animation: fade-in forwards 0.5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  #homePage-normal .container_logo .logo .t {
    z-index: 97;
  }
  #homePage-normal .container_logo .logo .t-animation {
    -webkit-animation: fade-in forwards 0.5s;
            animation: fade-in forwards 0.5s;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #homePage-normal .container_logo .hero_message {
    position: absolute;
    bottom: 9vw;
  }
  #homePage-normal .container_logo .hero_message .hero_greeting {
    font-size: 1.3vw;
    line-height: 3vw;
  }
  #homePage-normal .container_logo .hero_message .hero_text {
    font-size: 1.1vw;
    line-height: 1.5vw;
  }
  #homePage-normal .container_logo .cursor {
    width: 0.15vw;
    height: 1.5vw;
  }
  #homePage-normal .container-david .david,
  #homePage-normal .container-david .above-logo,
  #homePage-normal .container-david .david-background {
    display: none;
  }
}

#aboutPage {
  width: 100%;
  background: #214261;
  background-size: cover;
  position: relative;
}

#aboutPage .container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutPage .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo {
  display: none;
}

#aboutPage .container .row .text-column {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cecece;
  text-align: center;
  padding: 18vw;
  font-size: 4.6vw;
  line-height: normal;
  z-index: 1;
}

#aboutPage .container .row .text-column h1 {
  font-size: 6.8vw;
  margin-bottom: 8vw;
  text-align: left;
  line-height: 2.6vw;
  width: 93%;
  text-align: center;
}

#aboutPage .container .row .text-column span {
  display: none;
}

#aboutPage .container .row .text-column a {
  text-align: center;
  background: #879c91;
  display: inline-block;
  padding: 1vw 4.3vw;
  margin-top: 8vw;
  border-radius: 3vw;
  color: #012040;
  color: #e9e9e9;
  font-size: 4vw;
}

#aboutPage .container .row .text-column a:hover {
  background: #596860;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  #aboutPage {
    width: 100%;
    height: 100vh;
    background-image: url(../../images/David-background.jpg);
    background-size: auto 100%;
    position: relative;
  }
  #aboutPage .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #aboutPage .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
    position: relative;
    padding: 6vw;
  }
  #aboutPage .container .row .ladyAndLogoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
  }
  #aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo #lady {
    height: 55%;
    position: absolute;
    bottom: 0;
    left: 45%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 4;
  }
  #aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo #logoImage {
    width: 24vh;
    position: absolute;
    top: 39.75vh;
    z-index: 2;
    opacity: 0.8;
  }
  #aboutPage .container .row .text-column {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #879c91;
    z-index: 12;
    text-align: justify;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    font-size: 2.2vw;
    line-height: 5.3vw;
    height: 40%;
    padding: 6vw;
    overflow: hidden;
    position: relative;
    top: 0;
  }
  #aboutPage .container .row .text-column h1 {
    font-size: 3.8vw;
    margin-bottom: 1.7vw;
    text-align: left;
    line-height: 6.6vw;
    width: 93%;
    text-align: center;
  }
  #aboutPage .container .row .text-column span {
    display: inline;
  }
  #aboutPage .container .row .text-column a {
    color: red;
    display: none;
  }
  #aboutPage .container .row .text-column p {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  #aboutPage {
    width: 100%;
    height: 100vh;
    background-image: url(../../images/David-background.jpg);
    background-size: cover;
    position: relative;
  }
  #aboutPage .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #aboutPage .container .row {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 93vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5vw;
  }
  #aboutPage .container .row .ladyAndLogoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    overflow: visible;
    position: relative;
    margin: 0;
    padding: 0;
  }
  #aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo {
    width: 100%;
    height: 100%;
    position: static;
  }
  #aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo #lady {
    height: 93vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 4;
    padding: 0;
    margin: 0;
  }
  #aboutPage .container .row .ladyAndLogoContainer .ladyANDlogo #logoImage {
    width: 18vw;
    position: absolute;
    top: -9vh;
    left: 13.5vw;
    z-index: 2;
    opacity: 0.8;
  }
  #aboutPage .container .row .text-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: justify;
    margin: 0;
    color: #879c91;
    position: static;
    z-index: 1;
    background: rgba(5, 5, 5, 0.4);
    font-size: 1.2vw;
    line-height: 2.4vw;
    padding: 4vw 5vw;
    position: static;
    height: auto;
  }
  #aboutPage .container .row .text-column h1 {
    font-size: 1.8vw;
    margin-bottom: 0.7vw;
    text-align: left;
    line-height: 2.6vw;
    width: 93%;
  }
  #aboutPage .container .row .text-column p {
    display: inline-block;
  }
  #aboutPage .container .row .text-column a {
    background: #879c91;
    display: inline-block;
    padding: 0.1vw 1.1vw;
    margin-top: 2vw;
    border-radius: 3vw;
    color: #012040;
    font-size: 1.2vw;
    width: 30%;
    text-align: center;
  }
  #aboutPage .container .row .text-column a:hover {
    background: #596860;
    text-decoration: none;
  }
}

body {
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.my-container {
  padding: 13vw 7vw 13vw 7vw;
}

.container_content {
  margin-top: 11vw;
}

.section-title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.section-title-area .light {
  color: white;
}

.section-heading {
  font-size: 5.59vw;
  margin-top: 0;
  text-transform: uppercase !important;
  color: #212529;
  font-weight: 600;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.section-subheading {
  font-size: 3vw;
  font-weight: 400;
  margin-top: 1vw;
  font-style: italic;
  color: #6c757d;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media only screen and (min-width: 768px) {
  .my-container {
    padding: 13vw 7vw 13vw 7vw;
  }
  .container_content {
    margin-top: 11vw;
  }
  .section-heading {
    font-size: 5.59vw;
    margin-top: 0;
  }
  .section-subheading {
    font-size: 3vw;
    margin-top: 1vw;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 1.6rem;
  }
  html {
    font-size: 10px;
  }
  .my-container {
    padding: 6vw 7vw;
  }
  .container_content {
    margin-top: 5vw;
  }
  .section-heading {
    font-size: 2.2vw;
    margin-top: 0;
  }
  .section-subheading {
    font-size: 1.2vw;
    margin-top: 0.7vw;
  }
}
/*# sourceMappingURL=main.css.map */