@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
      display: block;
}

 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul, li {
      list-style: none;
  list-style-type: none;
  display: inline-block;
}

blockquote, q {
      quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
      content: '';
      content: none;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

#menu {
  display: none;
}

body {
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

@media screen and (min-width:  600px) {
  .slicknav_menu  {
    display: none;
  }
  #menu  {
    display: block;
  }
}

.container {
  padding: 11.3vw 3vw 5.6vw 3vw;
}

.section-title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.3vw;
}

h2.section-heading {
  font-size: 4.59vw;
  margin-top: 0;
  text-transform: uppercase !important;
  color: #212529;
  color: blue;
  font-weight: 600;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h3.section-subheading {
  font-size: 1.85vw;
  font-weight: 400;
  margin-top: 1vw;
  margin-bottom: 3.5vw;
  font-style: italic;
  color: #6c757d;
  color: red;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: red;
}

@media only screen and (max-width: 600px) {
  body {
    color: green;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
      display: block;
}

 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ol, ul, li {
      list-style: none;
  list-style-type: none;
  display: inline-block;
}

blockquote, q {
      quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
      content: '';
      content: none;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

#homePage {
  width: 100%;
  height: 161.8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100% auto;
  background-repeat: none;
  background-color: #ffd306;
}

#homePage #logoImage {
  width: 80vw;
  margin-top: 12vh;
  margin-bottom: 2vh;
}

#homePage #hero_message {
  width: 100vw;
  text-align: center;
}

#homePage #hero_text {
  color: #212529;
  font-family: 'Special Elite', cursive;
  font-size: 4vw;
}

#homePage #cursor {
  display: inline-block;
  vertical-align: middle;
  width: .5vw;
  height: 6vw;
  background-color: #212529;
  -webkit-animation: blink .75s step-end infinite;
          animation: blink .75s step-end infinite;
  opacity: .6;
}

@-webkit-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #212529;
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #212529;
  }
}

#about-section {
  z-index: 16000;
  height: 50vh;
  background-color: pink;
  height: 150px;
  position: relative;
}

#about-section #about-text {
  font-size: .5em;
  color: #3d3c3c;
  background-image: url("../../images/about/profile-pic-small.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#about-section .overlay-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 100;
  opacity: .3;
}

#skillsPage {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

#skillsPage #progress-bars-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skillsPage #progress-bars-section .progress-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.73vw;
  width: 100%;
  margin-bottom: 2.1vw;
}

#skillsPage #progress-bars-section .progress-bar-container .skill-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 3.5;
      -ms-flex-positive: 3.5;
          flex-grow: 3.5;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 0;
  font-size: 2.1vw;
  font-weight: 400;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: grey;
  height: 100%;
  line-height: 100%;
  overflow: visible;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 7.7;
      -ms-flex-positive: 7.7;
          flex-grow: 7.7;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage {
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .progressPercentage {
  height: 100%;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdcb17;
  color: grey;
  padding-left: 1.5vw;
  font: Roboto, "Helvetica/ Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.89vw;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .html {
  width: 80%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .scss {
  width: 75%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .javascript {
  width: 60%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .jQuery {
  width: 65%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .bootstrap {
  width: 55%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .responsive-design {
  width: 65%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .react {
  width: 75%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .jest {
  width: 55%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .typescript {
  width: 50%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .node {
  width: 75%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .express {
  width: 20%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .agile {
  width: 90%;
}

#skillsPage #progress-bars-section .progress-bar-container .progress-bar .container-progress-percentage .git {
  width: 55%;
}

#portfolioPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
  background-color: white;
  background-size: 100vw auto;
}

#portfolioPage #projects a {
  color: red;
}

#portfolioPage #projects a:hover {
  color: blue !important;
}

#portfolioPage #projects a:active {
  color: orange;
}

#portfolioPage #projects .portfolio-site {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#portfolioPage #projects .e-commerce {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#portfolioPage #projects .drum-machine {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#portfolioPage #projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 87vw;
  height: 87vw;
  position: relative;
}

#portfolioPage #projects .project-container:not(:last-child) {
  margin-bottom: 3em;
}

#portfolioPage #projects .project-container .project-image {
  width: 100%;
}

#portfolioPage #projects .project-container .project-text {
  width: 100%;
  height: 26%;
  background-color: #f8f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolioPage #projects .project-container .project-text h4 {
  color: red;
  font-size: .65em;
  text-align: center;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
}

#portfolioPage #projects .project-container .project-text h5 {
  text-align: center;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  color: #6c757d;
  padding-top: 5.5px;
  font-size: .45em;
}

.slicknav_menu {
  *zoom: 1;
  font-size: 1rem;
  /* size of hamburger */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  left: 0;
  /* Container for the 3 hamburger lines */
}

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}

.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_icon:before {
  background: transparent;
  width: 1.125em;
  display: block;
  content: "";
  background-color: blue;
}

.slicknav_menu .slicknav_no-text {
  margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.5vw;
  background-color: white;
  width: 5vw;
}

.slicknav_menu:before {
  content: " ";
  display: table;
}

.slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}

.slicknav_menu * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}

.slicknav_btn {
  width: 10vw;
  height: 10vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  cursor: pointer;
  text-decoration: none;
  background-color: #212529;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 1.8vw;
  height: 0.5vw;
  background-color: white;
}

.slicknav_nav {
  clear: both;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 2vw;
  list-style: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slicknav_nav ul {
  display: block;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 20px;
  line-height: 100%;
}

.slicknav_nav li {
  display: block;
}

.slicknav_nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Special Elite', cursive;
  font-size: 3vw;
  line-height: 3vw;
  height: 2.55vw;
  padding: 0 4vw;
  text-decoration: none;
  color: #2b2a2a;
}

.slicknav_nav a:hover {
  background: #ccc;
  color: #222;
}

.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_nav .slicknav_item a {
  display: inline;
}

.slicknav_nav .slicknav_row {
  display: block;
  padding: 5px 10px;
  margin: 2px 5px;
}

.slicknav_nav .slicknav_row:hover {
  background: #ccc;
  color: #fff;
}

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}

.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
  float: left;
}
/*# sourceMappingURL=main.css.map */