@import './base/normalize';
@import './base/typography';
@import './utilities/functions';
@import './utilities/maxins';
@import './utilities/variables';

// Styles used on all pages
@import './base/shared';

@import './layout/media-queries';
@import './layout/grid';

//import external css libraries
@import './vendors/bootstrap';


//Components
@import './components/navBar';

//SCSS for individual pages
@import './pages/homePage';
@import './pages/about-section';
@import './layout/_container';
@import './pages/skillsPage';
@import './pages/portfolioPage';
@import './base/slicknav';
