@import './base/normalize';
@import './base/typography';
@import './utilities/functions';
@import './utilities/maxins';
@import './utilities/variables';


@import './layout/media-queries';
@import './layout/grid';

//import external css libraries
@import './vendors/bootstrap';

//import components scss
@import './components/about-section';
@import './components/nav-bar';
@import './layout/_container'