//**************************MOBILE***********************************************
#aboutPage {
        width: 100%;
        // height: 100vh;
        // background-image: url(../../images/David-background.jpg);
        background: $color_blue_background;
        background-size: cover;
        position: relative;
        $lady-height: 41vw;
        .container {
                width: 100%;
                max-width: 100%;
                // height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;

                .row {
                        // background: pink;
                        display: flex;
                        align-items: flex-end;
                        .ladyAndLogoContainer {
                                .ladyANDlogo {
                                        display: none;
                                        #lady {
                                        }

                                        #logoImage {
                                        }
                                }
                        }
                        .text-column {
                                width: 100%;
                                // height: 100%;
                                margin: 0;
                                // padding: 4vw;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                color: #cecece;

                                .about-text-container {
                                        text-align: justify;
                                        // background: rgba(5, 5, 5, 0.4);
                                        // background: rgba(201, 201, 201, 0.4);

                                        // height: 100%;
                                        margin: 0;
                                        padding: 18vw 7vw;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        align-items: center;
                                        z-index: 1;
                                        h1 {
                                                font-size: 7.8vw;
                                                margin-bottom: 8vw;
                                                text-align: left;
                                                line-height: 2.6vw;
                                                width: 93%;
                                        }

                                        .about-text {
                                                width: 90%;
                                                font-size: 4.6vw;
                                                line-height: normal;
                                                // text-indent: 50px;
                                                a {
                                                        background: #879c91;
                                                        display: inline-block;
                                                        padding: 1vw 4.3vw;
                                                        margin-top: 8vw;
                                                        border-radius: 3vw;
                                                        color: $color_font_nav;
                                                        font-size: 4vw;

                                                        &:hover {
                                                                background: #596860;
                                                                text-decoration: none;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

@media only screen and (min-width: 992px) {
        #aboutPage {
                width: 100%;
                height: 100vh;
                background-image: url(../../images/David-background.jpg);
                background-size: cover;
                position: relative;
                $lady-height: 41vw;
                .container {
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        display: flex;

                        .row {
                                // background: pink;
                                display: flex;
                                align-items: flex-end;
                                .ladyAndLogoContainer {
                                        // background: green;
                                        display: flex;
                                        justify-content: center;
                                        // position: relative;
                                        height: 100vh;
                                        width: 100%;

                                        overflow: hidden;
                                        .ladyANDlogo {
                                                position: relative;
                                                width: 100%;
                                                height: 100%;
                                                display: flex;
                                                #lady {
                                                        height: $lady-height;
                                                        position: absolute;
                                                        bottom: 0;
                                                        left: 50%;
                                                        transform: translateX(
                                                                -50%
                                                        );
                                                        z-index: 4;
                                                        // background: green;
                                                }

                                                #logoImage {
                                                        width: 18.5vw;
                                                        position: absolute;
                                                        top: 0.8vw;
                                                        left: 23.1vw;
                                                        transform: translateX(
                                                                -50%
                                                        );
                                                        z-index: 2;
                                                        opacity: 0.8;
                                                }
                                        }
                                }
                                .text-column {
                                        width: 100%;
                                        height: $lady-height;
                                        // background: red;
                                        margin: 0;
                                        padding: 4vw 9vw 4vw 0vw;
                                        // padding-left: 0vw;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #879c91;
                                        display: flex;
                                        align-items: center;

                                        .about-text-container {
                                                text-align: justify;
                                                background: rgba(5, 5, 5, 0.4);
                                                // width: 100%;
                                                padding: 3vw;
                                                margin: 0;
                                                // height: 100%;
                                                // padding: 4vw 8vw 0 8vw;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                z-index: 1;
                                                h1 {
                                                        font-size: 1.8vw;
                                                        margin-bottom: 0.7vw;
                                                        text-align: left;
                                                        // background: blue;
                                                        line-height: 2.6vw;
                                                        width: 93%;
                                                }

                                                .about-text {
                                                        width: 90%;
                                                        font-size: 1.2vw;
                                                        line-height: 2.4vw;
                                                        // background: blue;
                                                        line-height: 2.3vw;

                                                        a {
                                                                background: #879c91;
                                                                display: inline-block;
                                                                padding: 0.1vw
                                                                        1.1vw;
                                                                margin-top: 2vw;
                                                                border-radius: 3vw;
                                                                color: $color_font_nav;
                                                                font-size: 1.3vw;

                                                                &:hover {
                                                                        background: #596860;
                                                                        text-decoration: none;
                                                                }
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}
