$text-color: rgb(207, 207, 207);

//--------------------------MOBILE--------------------------//
#about-page {
    width: 100%;
    background: $color_blue_background;
    background-size: cover;
    position: relative;
    $lady-height: 41vw;
    background-image: url(../../images/background-dots.png);
    // background-image: url(../../images/background-dots-black.jpg);
    // background-image: url(../../images/background-dots-blacker.jpg);
    background-size: 40px;
    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .row {
            display: flex;
            align-items: flex-end;
            .ladyAndLogoContainer {
                .ladyANDlogo {
                    display: none;
                }
            }
            .text-column {
                width: 100%;
                margin: 0;
                @include flex-center;
                flex-direction: column;
                color: $text-color;
                text-align: center;
                padding: 18vw;
                font-size: 2rem;
                line-height: normal;
                z-index: 1;

                h1 {
                    font-size: 3.3rem;
                    margin-bottom: 6vw;
                    line-height: 2.6vw;
                    width: 93%;
                    text-align: center;
                    font-weight: bold;
                }
                span {
                    display: none;
                }

                #get-in-touch {
                    text-align: center;
                    display: inline-block;
                    padding: 2vw 6.3vw;
                    margin-top: 8vw;
                    border-radius: 7vw;
                    color: rgb(197, 197, 197);
                    background: #71837c;
                    font-size: 1.85rem;

                    &:hover {
                        background: #83978f;
                        text-decoration: none;
                        color: rgb(184, 183, 183);
                    }
                }
            }
        }
    }
}

//--------------------------TABLET--------------------------//
@media only screen and (min-width: 768px) {
    $lady-height: 98vh;
    #about-page {
        height: 100vh;
        .container {
            height: 100%;

            .row {
                justify-content: center;
                margin: 0;
                width: 100%;
                position: relative;
                padding: 6vw;

                .ladyAndLogoContainer {
                    display: flex;
                    height: 105vh;
                    width: 100%;
                    position: absolute;
                    overflow: hidden;
                    bottom: 0;

                    .ladyANDlogo {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;

                        #lady {
                            height: 50%;
                            position: absolute;
                            bottom: 0;
                            left: 45%;
                            transform: translateX(-50%);
                            z-index: 4;
                        }
                    }
                }
                .text-column {
                    align-self: flex-start;
                    justify-content: center;
                    text-align: justify;

                    line-height: 5.3vw;
                    height: 50%;
                    padding: 6vw;
                    overflow: hidden;
                    position: relative;
                    top: 0;
                    background: rgba(255, 254, 254, 0.03);
                    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.2);
                    border: 0.1px solid rgba(255, 255, 255, 0.05);

                    h1 {
                        font-size: 3rem;
                        margin-bottom: 1.7vw;
                        line-height: 6.6vw;
                    }
                    span {
                        display: inline;
                    }
                    #get-in-touch {
                        padding: 0.2vw 2.5vw;
                        margin: 2vw 0;
                        font-size: 1.8rem;
                    }
                    p {
                        display: inline-block;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

//--------------------------DESKTOP--------------------------//
@media only screen and (min-width: 992px) {
    $lady-height: 88vh;
    #about-page {
        position: relative;
        .container {
            flex-direction: row;
            align-items: flex-end;

            .row {
                padding: 0;
                height: $lady-height;
                display: flex;
                padding-right: 5vw;

                .ladyAndLogoContainer {
                    justify-content: center;
                    height: 100%;
                    overflow: visible;
                    position: relative;
                    margin: 0;
                    padding: 0;

                    .ladyANDlogo {
                        position: static;

                        #lady {
                            height: 108vh;
                            position: absolute;
                            left: 50%;
                            padding: 0;
                            margin: 0;
                            // background: green;
                            filter: drop-shadow(
                                -3px 6px 5px rgba(0, 0, 0, 0.8)
                            );
                        }
                    }
                }

                .text-column {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: center;
                    position: static;
                    margin: 0;
                    padding: 4vw 6vw;
                    position: static;
                    line-height: 2.4vw;

                    h1 {
                        font-size: 3.3rem;
                        margin-bottom: 0.7vw;
                        text-align: left;
                        line-height: 2.6vw;
                        width: 93%;
                    }

                    p {
                        display: inline-block;
                    }
                    #get-in-touch {
                        padding: 0.4vw 1.5vw;
                        margin-top: 2vw;
                        font-size: 2rem;
                        width: auto;
                    }
                }
            }
        }
    }
}
