//**************************MOBILE***********************************************
#aboutPage {
    width: 100%;
    // height: 100vh;
    // background-image: url(../../images/David-background.jpg);
    background: $color_blue_background;
    background-size: cover;
    position: relative;
    $lady-height: 41vw;
    .container {
        width: 100%;
        max-width: 100%;
        // height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .row {
            // background: pink;
            display: flex;
            align-items: flex-end;
            .ladyAndLogoContainer {
                .ladyANDlogo {
                    display: none;
                    #lady {
                    }

                    #logoImage {
                    }
                }
            }
            .text-column {
                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #cecece;
                // background: red;

                text-align: center;

                padding: 18vw;
                font-size: 4.6vw;
                line-height: normal;
                z-index: 1;
                h1 {
                    font-size: 6.8vw;
                    margin-bottom: 8vw;
                    text-align: left;
                    line-height: 2.6vw;
                    width: 93%;
                    text-align: center;
                }
                span {
                    display: none;
                }
                a {
                    text-align: center;
                    background: #879c91;
                    display: inline-block;
                    padding: 1vw 4.3vw;
                    margin-top: 8vw;
                    border-radius: 3vw;
                    color: $color_font_nav;
                    color: rgb(233, 233, 233);

                    font-size: 4vw;

                    &:hover {
                        background: #596860;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//**************************TABLET***********************************************
@media only screen and (min-width: 768px) {
    #aboutPage {
        width: 100%;
        height: 100vh;
        background-image: url(../../images/David-background.jpg);
        background-size: auto 100%;
        position: relative;
        $lady-height: 88vh;
        .container {
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;

            .row {
                display: flex;
                justify-content: center;

                margin: 0;
                // background: pink;
                width: 100%;
                position: relative;
                padding: 6vw;

                .ladyAndLogoContainer {
                    display: flex;
                    height: 100vh;
                    width: 100%;
                    position: absolute;
                    overflow: hidden;
                    bottom: 0;

                    .ladyANDlogo {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;

                        #lady {
                            height: 55%;
                            position: absolute;
                            bottom: 0;
                            left: 45%;
                            transform: translateX(-50%);
                            z-index: 4;
                            // background: green;
                        }

                        #logoImage {
                            width: 24vh;
                            position: absolute;
                            top: 39.75vh;

                            z-index: 2;
                            opacity: 0.8;
                        }
                    }
                }
                .text-column {
                    align-self: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: flex-start;
                    color: #879c91;
                    // position: relative;
                    // top: 0;
                    z-index: 12;
                    // padding: 4vw 14vw;
                    text-align: justify;
                    background: rgba(0, 0, 0, 0.4);
                    // background: green;
                    z-index: 1;

                    font-size: 2.2vw;
                    line-height: 5.3vw;
                    height: 40%;
                    padding: 6vw;
                    overflow: hidden;
                    position: relative;
                    top: 0;
                    h1 {
                        font-size: 3.8vw;
                        margin-bottom: 1.7vw;
                        text-align: left;
                        line-height: 6.6vw;
                        width: 93%;
                        text-align: center;
                    }
                    span {
                        display: inline;
                    }
                    a {
                        color: red;
                        display: none;
                    }
                    p {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

//**************************DESKTOP***********************************************
@media only screen and (min-width: 992px) {
    #aboutPage {
        width: 100%;
        height: 100vh;
        background-image: url(../../images/David-background.jpg);
        background-size: cover;
        position: relative;
        $lady-height: 93vh;

        .container {
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: visible;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .row {
                width: 100%;
                margin: 0;
                padding: 0;
                height: $lady-height;
                display: flex;

                // background: green;
                padding-right: 5vw;
                .ladyAndLogoContainer {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    // background: purple;
                    overflow: visible;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    .ladyANDlogo {
                        // position: relative;
                        width: 100%;
                        height: 100%;
                        position: static;
                        // background: pink;
                        #lady {
                            height: $lady-height;
                            position: absolute;

                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 4;
                            // background: green;
                            padding: 0;
                            margin: 0;
                        }

                        #logoImage {
                            width: 18vw;
                            position: absolute;
                            top: -9vh;
                            left: 13.5vw;
                            // transform: translateX(-50%);
                            z-index: 2;
                            opacity: 0.8;
                        }
                    }
                }

                .text-column {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    align-self: center;
                    text-align: justify;
                    margin: 0;
                    color: #879c91;

                    position: static;
                    z-index: 1;
                    background: rgba(5, 5, 5, 0.4);
                    font-size: 1.2vw;
                    line-height: 2.4vw;
                    padding: 4vw 5vw;
                    position: static;
                    height: auto;
                    h1 {
                        font-size: 1.8vw;
                        margin-bottom: 0.7vw;
                        text-align: left;
                        line-height: 2.6vw;
                        width: 93%;
                    }

                    p {
                        display: inline-block;
                    }
                    a {
                        background: #879c91;
                        display: inline-block;
                        padding: 0.1vw 1.1vw;
                        margin-top: 2vw;
                        border-radius: 3vw;
                        color: $color_font_nav;
                        font-size: 1.2vw;
                        width: 30%;
                        text-align: center;
                        &:hover {
                            background: #596860;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
