//**************************MOBILE***********************************************
#about-page {
    width: 100%;
    background: $color_blue_background;
    background-size: cover;
    position: relative;
    $lady-height: 41vw;
    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .row {
            display: flex;
            align-items: flex-end;
            .ladyAndLogoContainer {
                .ladyANDlogo {
                    display: none;
                }
            }
            .text-column {
                width: 100%;
                margin: 0;
                @include flex-center;
                flex-direction: column;
                color: #cecece;
                text-align: center;
                padding: 18vw;
                font-size: 4.6vw;
                line-height: normal;
                z-index: 1;
                h1 {
                    font-size: 5.8vw;
                    margin-bottom: 6vw;
                    line-height: 2.6vw;
                    width: 93%;
                    text-align: center;
                    font-weight: bold;
                }
                span {
                    display: none;
                }
                a {
                    text-align: center;
                    display: inline-block;
                    padding: 1vw 4.3vw;
                    margin-top: 8vw;
                    border-radius: 3vw;
                    background: #879c91;
                    color: rgb(233, 233, 233);
                    font-size: 4vw;

                    &:hover {
                        background: #596860;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

//**************************TABLET***********************************************
@media only screen and (min-width: 768px) {
    #about-page {
        height: 100vh;
        background-image: url(../../images/background-about-page.jpg);
        background-size: auto 100%;
        $lady-height: 88vh;

        .container {
            width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;

            .row {
                justify-content: center;
                margin: 0;
                width: 100%;
                position: relative;
                padding: 6vw;

                .ladyAndLogoContainer {
                    display: flex;
                    height: 100vh;
                    width: 100%;
                    position: absolute;
                    overflow: hidden;
                    bottom: 0;

                    .ladyANDlogo {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;

                        #lady {
                            height: 50vh;
                            position: absolute;
                            bottom: 0;
                            left: 45%;
                            transform: translateX(-50%);
                            z-index: 4;
                        }

                        #logo-image {
                            width: 23vh;
                            position: absolute;
                            top: 45.4vh;
                            z-index: 2;
                            opacity: 0.8;
                        }
                    }
                }
                .text-column {
                    align-self: flex-start;
                    justify-content: center;
                    color: #acbdb4;
                    text-align: justify;
                    background: rgba(0, 0, 0, 0.4);
                    z-index: 1;
                    font-size: 2.2vw;
                    line-height: 5.3vw;
                    height: 40%;
                    padding: 6vw;
                    overflow: hidden;
                    position: relative;
                    top: 0;

                    h1 {
                        font-size: 3.8vw;
                        margin-bottom: 1.7vw;
                        line-height: 6.6vw;
                        width: 93%;
                        text-align: center;
                    }
                    span {
                        display: inline;
                    }
                    a {
                        padding: 0.4vw 3vw;
                        margin: 2vw 0;
                        font-size: 2.3vw;
                    }
                    p {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

//**************************DESKTOP***********************************************
@media only screen and (min-width: 992px) {
    #about-page {
        background-size: cover;
        position: relative;
        $lady-height: 88vh;

        .container {
            flex-direction: row;
            align-items: flex-end;

            .row {
                margin: 0;
                padding: 0;
                height: $lady-height;
                display: flex;
                padding-right: 5vw;

                .ladyAndLogoContainer {
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    overflow: visible;
                    position: relative;
                    margin: 0;
                    padding: 0;

                    .ladyANDlogo {
                        position: static;

                        #lady {
                            height: $lady-height;
                            position: absolute;
                            left: 50%;
                            padding: 0;
                            margin: 0;
                        }

                        #logo-image {
                            width: 18vw;
                            top: -8.5vh;
                            left: 13.5vw;
                            opacity: 0.8;
                        }
                    }
                }

                .text-column {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: center;
                    text-align: justify;
                    color: #879c91;
                    position: static;
                    background: rgba(5, 5, 5, 0.4);
                    font-size: 1.2vw;
                    margin: 0;
                    padding: 4vw 5vw;
                    position: static;
                    line-height: 2.4vw;

                    h1 {
                        font-size: 1.8vw;
                        margin-bottom: 0.7vw;
                        text-align: left;
                        line-height: 2.6vw;
                        width: 93%;
                    }

                    p {
                        display: inline-block;
                    }
                    a {
                        padding: 0.1vw 1.1vw;
                        margin-top: 2vw;
                        color: $color_font_nav;
                        font-size: 1.2vw;
                        width: 30%;

                        &:hover {
                            background: #596860;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
