//**************************MOBILE***********************************************

#contactPage {
    background-color: $color_background_yellow;

    .container {
        max-width: 100%;
    }

    #sucess_message {
        font-size: 3.2vw;
        display: block;
        width: 100%;
        margin-bottom: 3vw;
        display: none;
    }
    #contact-greeting {
        font-family: $monsterrat-font;
        margin-top: 4vw;
        font-size: 4vw;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .section-subheading {
        color: #212529;
    }
    form {
        font-family: $monsterrat-font;

        input,
        textarea {
            border-style: solid;
            border-width: 0.2px;
            border-color: rgb(189, 187, 187);
            margin-bottom: 4vw;
            font-size: 3vw;
        }

        input {
            outline: none;
            border: none;
            display: block;
            width: 100%;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(189, 187, 187);
            padding: 1vw;
            color: grey;
        }

        textarea {
            outline: none;
            display: block;
            width: 100%;
            height: 20vw;
            padding: 1.5vw;
            color: grey;
            text-align: left;
        }

        input[type="submit"] {
            background-color: $color_font_blue;
            color: white;
            width: 33%;
            margin-top: 2vw;
            padding: 2.3vw 3.5vw;
            border-radius: 6px;
            font-size: 3vw;
            cursor: pointer;
        }
    }
} //end #contactPage

//**************************TABLET***********************************************
@media only screen and (min-width: 768px) {
    .container_content {
        margin-top: 8vw;
    }
    #contactPage {
        #sucess_message {
            font-size: 3.2vw;
            margin-bottom: 3vw;
            display: none;
        }

        form {
            input,
            textarea {
                border-width: 0.2px;
                margin-bottom: 2.5vw;
                font-size: 2vw;
            }

            input {
                padding: 0.5vw;
            }

            textarea {
                height: 20vw;
                padding: 0.5vw;
            }

            input[type="submit"] {
                width: 25%;
                margin-top: 2vw;
                padding: 1vw;
                border-radius: 2vw;
                font-size: 2vw;
            }
        }
    } //end #contactPage
}
//**************************DESKTOP***********************************************
@media only screen and (min-width: 992px) {
    .container_content {
        margin-top: 5vw;
    }
    #contactPage {
        #sucess_message {
            font-size: 1.1vw;
            margin-bottom: 1.5vw;
        }

        form {
            margin-top: 0;
            width: 100%;

            input,
            textarea {
                font-size: 0.8vw;
                padding: 0.3vw;
                border-width: 1px;
                width: 100%;
                margin-bottom: 1.5vw;
            }

            textarea {
                outline: none;
                display: block;
                width: 100%;
                height: 14vw;
                color: grey;
            }

            input[type="submit"] {
                width: 8vw;
                padding: 0.2vw 0.2vw;
                border-radius: 6px;
                font-size: 1.2vw;
            }
        }
    } //end #contactPage
}
