// .nav_link {
//         color: white;
// }
// #homePage {
//         width: 100%;
//         height: 100vh;
//         $logo-image-width: 25vw;
//         background: rgb(27, 27, 27);
//         display: flex;
//         justify-content: center;
//         position: relative;
//         top: 0;
//         left: 0;
//         // background: pink;
//         #container_logo {
//                 align-items: center;
//                 // background: green;
//                 width: 100%;
//                 height: 50%;
//                 display: flex;
//                 justify-content: center;
//                 top: 0;
//                 left: 0;
//                 margin: 0;
//                 overflow: hidden;
//                 // z-index: 1000;
//                 position: relative;
//                 animation: move-up 1s forwards;
//                 animation-delay: 1.3s;
//                 .logoImage,
//                 .t,
//                 .dots,
//                 .ribbon {
//                         width: $logo-image-width;
//                         position: absolute;
//                         // top: 0;
//                 }

//                 @keyframes move-up {
//                         from {
//                                 // top: -10vw;
//                         }
//                         to {
//                                 top: -13.3vw;
//                         }
//                 }
//                 .logoImage {
//                         z-index: 96;
//                         animation: shrink forwards 1s;
//                         animation-delay: 1.3s;
//                         // width: $logo-image-width;
//                         // margin-bottom: 0vh;
//                         // display: inline-block;
//                 }

//                 .ribbon {
//                         z-index: 98;
//                         animation: fade-out forwards 0.5s;
//                         animation-delay: 0.5s;
//                 }

//                 .dots {
//                         z-index: 97;
//                         animation: fade-out forwards 0.5s;
//                         animation-delay: 0.5s;
//                 }

//                 .t {
//                         z-index: 97;
//                         animation: fade-out forwards 0.5s;
//                         animation-delay: 0.5s;
//                 }

//                 @keyframes shrink {
//                         from {
//                                 width: 25vw;
//                                 opacity: 1;
//                         }
//                         to {
//                                 width: 17vw;
//                                 opacity: 0.8;
//                         }
//                 }

//                 @keyframes fade-out {
//                         from {
//                                 opacity: 1;
//                         }
//                         to {
//                                 opacity: 0;
//                         }
//                 }

//                 .hero_message {
//                         display: none;
//                 }
//         }

//         .container-david {
//                 .david {
//                         position: absolute;
//                         height: 100vh;
//                         z-index: 100;
//                         justify-self: flex-start;
//                         left: -100vw;
//                         bottom: 0;
//                         animation: david-in 1s forwards ease-in;
//                         animation-delay: 1.3s;
//                 }
//                 .above-logo {
//                         position: absolute;
//                         height: 100%;
//                         bottom: 0;
//                         z-index: 99;
//                         animation: background-fade-in 1s forwards ease-in;
//                         animation-delay: 1.5s;
//                         opacity: 0;
//                 }
//                 @keyframes david-in {
//                         from {
//                                 left: -100vw;
//                         }
//                         to {
//                                 left: 0vw;
//                         }
//                 }

//                 .david-background {
//                         position: absolute;
//                         height: 100%;
//                         bottom: 0;
//                         z-index: 1;
//                         animation: background-fade-in 1s forwards ease-in;
//                         opacity: 0;
//                         left: 0;
//                         top: 0;
//                 }

//                 @keyframes background-fade-in {
//                         from {
//                                 opacity: 0;
//                         }
//                         to {
//                                 opacity: 1;
//                         }
//                 }
//         }
// }
