.menu-david {
        a {
                color: white;
        }
}
#button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
}
#home-page-david {
        width: 100%;
        height: 100vh;
        $logo-image-width: 25vw;
        background: $color_background_yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        .container-logo {
                @include flex-center;
                top: 0;
                left: 0;
                margin: 0;
                overflow: hidden;
                position: relative;
                animation: move-up 1s forwards;
                animation-delay: 2s;
                @keyframes move-up {
                        from {
                                // top: -10vw;
                        }
                        to {
                                top: -15vw;
                        }
                }
                .logo {
                        width: $logo-image-width;
                        height: $logo-image-width;
                        @include flex-center;
                        overflow: hidden;
                        .logo-image,
                        .t,
                        .dots,
                        .ribbon {
                                width: $logo-image-width;
                                position: absolute;
                        }

                        .logo-image {
                                z-index: 96;
                                animation: shrink forwards 1s;
                                animation-delay: 2s;
                                width: $logo-image-width;
                                overflow: hidden;
                        }
                        @keyframes shrink {
                                from {
                                        width: 25vw;
                                        opacity: 1;
                                }
                                to {
                                        width: 17vw;
                                        opacity: 0.8;
                                }
                        }
                        .ribbon {
                                z-index: 98;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 2s;
                        }

                        .dots {
                                z-index: 97;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 1s;
                        }

                        .t {
                                z-index: 97;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 1.5s;
                        }
                        @keyframes fade-out {
                                from {
                                        opacity: 1;
                                }
                                to {
                                        opacity: 0;
                                }
                        }
                }
                .hero-message {
                        display: none;
                }
        }

        .container-david {
                $david-width: 59vw;
                width: 100%;
                @include position-absolute-fillpage;
                @include flex-center;
                .david {
                        position: absolute;
                        width: $david-width;
                        z-index: 102;
                        bottom: 0;

                        transform: translateX(-77vw);

                        animation: david-in 1s forwards ease-in;
                        animation-delay: 2s;
                }
                .above-logo {
                        height: 100%;
                        z-index: 101;
                        animation: background-fade-in 1s forwards ease-in;
                        // animation-delay: 2s;
                        opacity: 0;
                        left: 0;
                        top: 0;
                }
                @keyframes david-in {
                        from {
                                transform: translateX(-77vw);
                        }
                        to {
                                transform: translateX(0);
                        }
                }
        }

        #background-david {
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: 1;
                // animation: background-fade-in 1s forwards ease-in;
                opacity: 1;
                left: 0;
                top: 0;
        }

        @keyframes background-out-in {
                from {
                        opacity: 1;
                }
                to {
                        opacity: 0;
                }
        }

        // @keyframes background-fade-in {
        //         from {
        //                 opacity: 0;
        //         }
        //         to {
        //                 opacity: 1;
        //         }
        // }
}
