.menu-david {
        a {
                color: white;
        }
}
// #nav_link {
//         color: white;
// }
#homePage-david {
        width: 100%;
        height: 100vh;
        $logo-image-width: 25vw;
        background: rgb(27, 27, 27);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        .container_logo {
                align-items: center;

                // width: 100%;
                // height: 50%;
                @include flex-center;
                top: 0;
                left: 0;
                margin: 0;
                overflow: hidden;
                position: relative;
                animation: move-up 1s forwards;
                animation-delay: 1.3s;
                @keyframes move-up {
                        from {
                                // top: -10vw;
                        }
                        to {
                                top: -15vw;
                        }
                }
                .logo {
                        width: $logo-image-width;
                        height: $logo-image-width;
                        @include flex-center;
                        overflow: hidden;
                        .logoImage,
                        .t,
                        .dots,
                        .ribbon {
                                width: $logo-image-width;
                                position: absolute;
                                // top: 0;
                        }

                        .logoImage {
                                z-index: 96;
                                animation: shrink forwards 1s;
                                animation-delay: 1.3s;
                                width: $logo-image-width;
                                // background: green;
                                // margin-bottom: 0vh;
                                // display: inline-block;
                                overflow: hidden;
                        }

                        .ribbon {
                                z-index: 98;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 0.5s;
                        }

                        .dots {
                                z-index: 97;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 0.5s;
                        }

                        .t {
                                z-index: 97;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 0.5s;
                        }

                        @keyframes shrink {
                                from {
                                        width: 25vw;
                                        opacity: 1;
                                }
                                to {
                                        width: 17vw;
                                        opacity: 0.8;
                                }
                        }

                        @keyframes fade-out {
                                from {
                                        opacity: 1;
                                }
                                to {
                                        opacity: 0;
                                }
                        }
                }
                .hero_message {
                        display: none;
                }
        }

        .container-david {
                $david-width: 59vw;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                @include flex-center;
                .david {
                        position: absolute;
                        width: $david-width;
                        z-index: 102;
                        bottom: 0;

                        transform: translateX(-77vw);

                        animation: david-in 1s forwards ease-in;
                        animation-delay: 1.3s;
                }
                .above-logo {
                        position: absolute;
                        width: 100%;
                        // bottom: 0;
                        z-index: 101;
                        animation: background-fade-in 1s forwards ease-in;
                        animation-delay: 1.5s;
                        opacity: 0;
                        left: 0;
                        top: 0;
                }
                @keyframes david-in {
                        from {
                                transform: translateX(-77vw);
                        }
                        to {
                                transform: translateX(0);
                        }
                }

                .david-background {
                        position: absolute;
                        width: 100%;

                        bottom: 0;
                        z-index: 1;
                        animation: background-fade-in 1s forwards ease-in;
                        opacity: 1;
                        left: 0;
                        top: 0;
                        // background: red;
                }

                @keyframes background-fade-in {
                        from {
                                opacity: 0;
                        }
                        to {
                                opacity: 1;
                        }
                }
        }
}
