//**************************MOBILE***********************************************
#footerPage {
    background-color: $color_blue_background;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 9vh;
    margin: 0;
    padding: 0;
    #logoImage_footer {
        width: 20vw;
        display: none;
    }

    .container {
        max-width: 100%;
    }

    .copyRight {
        color: white;
        font-family: $droid-font;
        font-weight: bold;
        font-size: 2vw;
        margin-left: 2vw;
        width: 100%;
        text-align: center;
    }
}

//**************************Tablet***********************************************

@media only screen and (min-width: 768px) {
    #footerPage {
        background-color: $color_blue_background;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 16vh;
        margin: 0;
        padding: 0;
        #logoImage_footer {
            width: 10vw;
            display: inline-block;
            margin: 0;
            padding: 0;
            // background: green;
        }

        .copyRight {
            color: white;
            font-family: $droid-font;
            font-weight: bold;
            font-size: 1.5vw;
            display: block;
            width: auto;
            margin-left: 1vw;
        }
    }
}

//**************************DESKTOP***********************************************

@media only screen and (min-width: 992px) {
    #footerPage {
        background-color: $color_blue_background;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 29vh;

        #logoImage_footer {
            width: 6vw;
            display: inline-block;
            margin: 0;
            padding: 0;
            // background: green;
        }

        .copyRight {
            color: white;
            font-family: $droid-font;
            font-weight: bold;
            font-size: 1vw;
            display: block;
            width: auto;
            margin-left: 1vw;
        }
    }
}
