//--------------------------MOBILE--------------------------//
#footerPage {
    background-color: $color_blue_background;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 9vh;
    margin: 0;
    padding: 0;
    justify-content: center;

    #logo-image-footer {
        width: 20vw;
        display: none;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 100%;
    }

    .copyRight {
        color: white;
        font-family: $droid-font;
        font-weight: bold;
        font-size: 2vw;
        margin-left: 2vw;
        width: auto;
        text-align: center;
        display: block;
    }
}

//--------------------------Tablet--------------------------//

@media only screen and (min-width: 768px) {
    #footerPage {
        height: 13vh;
        #logo-image-footer {
            width: 10vw;
            display: inline-block;
        }

        .copyRight {
            font-size: 1.5vw;
            margin-left: 1vw;
        }
    }
}

//--------------------------DESKTOP--------------------------//
@media only screen and (min-width: 992px) {
    #footerPage {
        height: 24vh;

        #logo-image-footer {
            width: 6vw;
            display: inline-block;
        }

        .copyRight {
            font-size: 1vw;
            display: block;
            width: auto;
            margin-left: 1vw;
        }
    }
}
