//--------------------------MOBILE--------------------------//
$height_nav-bar: 5vh;

#header-main {
    background-color: $color_background_yellow;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    .my-container {
        width: 100%;
        @include padding-margin-zero;
        display: flex;
        justify-content: center;
        align-items: center;

        #nav-bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: $height_nav-bar;
            overflow: hidden;
            width: 100%;
            margin: 2vw;
            margin-top: 3vw;
            opacity: 1;

            #menu {
                display: flex;
                justify-content: center;
                width: 90%;
                height: 100%;
                position: relative;
                z-index: 200;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: $color_font_nav;
                        font-size: 1rem;
                        padding: 6vw;
                        font-family: $type-writter-font;
                        // font-family: $monsterrat-font;

                        &:hover {
                            color: #4d4d4d;
                        }
                    }
                }
            }
        }
    }
}

//--------------------------TABLET--------------------------//
@media only screen and (min-width: 768px) {
    $height_nav-bar: 7vh;
    #header-main {
        .my-container {
            #nav-bar {
                #menu {
                    li {
                        a {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

//--------------------------Desktop--------------------------//
@media only screen and (min-width: 992px) {
    #header-main {
        justify-content: center;
        .my-container {
            justify-content: flex-end;
            .nav-fade-in-desktop {
                animation: nav-fade-in-desktop 0.7s forwards;
                background: transparent;
                @keyframes nav-fade-in-desktop {
                    from {
                        background: transparent;
                        color: $color_font_nav;
                    }
                    to {
                        background: rgb(4, 0, 58);
                        color: white;
                    }
                }
            }

            .nav-fade-out-desktop {
                animation: nav-fade-out-desktop 0.7s forwards;
                background: black;
                @keyframes nav-fade-out-desktop {
                    from {
                        background: black;
                    }
                    to {
                        background: transparent;
                    }
                }
            }

            #nav-bar {
                justify-content: flex-end;
                margin: 0;
                margin-top: 1vw;
                padding: 2vw;
                top: 0;
                left: 0;
                background: transparent;
                z-index: 100;

                #menu {
                    justify-content: flex-end;
                    width: 100%;

                    li {
                        a {
                            font-size: 1.7rem;
                            color: inherit;
                            padding: 1.6vw;
                            margin: 0;
                            color: $color_font_nav;
                        }
                    }
                }
            }
        }
    }
}
