@import '../base/normalize';
@import '../../scss/utilities/maxins';
@import '../../scss/utilities/functions';
@import '../../scss/utilities/variables';



$logo-image-width: 47vw;

  #homePage
  {

     
      width: 100vw;
      height: 100vw * 1.618;
      display: flex;
      flex-direction: column;
      background-size: 100% auto; 
      // background-image: url('../../images/sketch-home.png');
      background-repeat: none;
      background-color: #ffd306;
      // background-color: $nav-area-color;
      
      #menu{
        position: absolute;

      }

            
            #logo-container{
                  display: flex;
                  justify-content: center;

                  height: $logo-image-width*1.5;
                  // position: relative;
                  // background-color: pink;
                  width: 100%;
                  height: 100%;
                  // animation: logMove 2s 800ms forwards ease-out;
                  
      
              
                  #logoImage
                  {
                  // background-color: red;
                  width: $logo-image-width;
                  margin-top:48px;
                  // filter: drop-shadow(0px 0px 28px rgba(255, 255, 255, .8));
                  }
                



 
            
            
              
              
            
            #hero_heading
              {
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-size: 1.1em;
              line-height: 1.3em;
              font-weight: bold;
              color: $nav-area-color;
              padding: $hero_text_padding;
              width: 100%;
              text-align: center;
              }
            
            
            #hero_text
              {
              font-size: .9em;
              font-weight: bold;
              line-height: 1.5em;
              margin: .8em 0 0 0;
              color: #3c4247;;
              padding: $hero_text_padding;
              text-align: center;
              }
            
            #button_contact
              {
              font-family: Georgia, 'Times New Roman', Times, serif;;
              font-weight: bold;
              font-size: .7em;
              background-color: $nav-area-color;
              background-color: $linkColor;
              border: none;
              color: $nav-area-color;
              padding: .7em 3em;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              margin: 4em 0 6em 0;
              cursor: pointer;
              border-radius: 5px;
              }
 
      }//end hero section
  }//end homepage