@import "../base/normalize";
@import "../../scss/utilities/maxins";
@import "../../scss/utilities/variables";

//**************************MOBILE***********************************************

#home-page {
    $logo-image-width: 70vw;
    $home-page_screen_height: 100vw * 1.618;
    width: 100%;
    height: $home-page_screen_height;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    background-color: $color_background_yellow;
    position: relative;
    top: 0;
    left: 0;
    z-index: -10;

    .container-logo {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .logo-image {
            width: $logo-image-width;
            //     position: absolute;
        }

        .hero-message {
            text-align: center;
            height: 3vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .hero-text {
                color: $color_font_nav;
                font-family: "Special Elite", cursive;
                font-size: 4vw;
                color: $color_font_nav;
                line-height: 5vw;
            }
        }

        .cursor {
            display: inline-block;
            width: 0.2vw;
            height: 4vw;
            background-color: $nav-area-color;
            animation: blink 0.75s step-end infinite;
            opacity: 0.6;
        }
    } //end #container-logo

    @keyframes blink {
        from,
        to {
            background-color: transparent;
        }
        50% {
            background-color: $nav-area-color;
        }
    }
} //end home page

//***********************TABLET************************************
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #home-page {
        $logo-image-width: 40vh;
        height: 100vh;

        .container-logo {
            align-items: center;
            position: absolute;

            top: 0;
            left: 0;
            margin: 0;

            .logo-image {
                width: $logo-image-width;
                margin-bottom: 0vh;
            }

            .hero-message {
                text-align: center;
                height: 3vh;
                @include flex-center;
                .hero-text {
                    color: $color_font_nav;
                    font-family: "Special Elite", cursive;
                    font-size: 3vw;
                    color: $color_font_nav;
                    line-height: 5vw;
                }
            }

            .cursor {
                display: inline-block;
                width: 0.2vw;
                height: 4vw;
                background-color: $nav-area-color;
                animation: blink 0.75s step-end infinite;
                opacity: 0.6;
            }
        }
    }
}
//***********************Desktop************************************
@media only screen and (min-width: 992px) {
    #home-page {
        $logo-image-width: 25vw;
        $home-page_screen_height: 100vw * 1.618;
        width: 100%;
        height: $home-page_screen_height;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        // background-size: 100% auto;
        // background-repeat: no-repeat;
        background-color: $color_background_yellow;
        position: relative;
        top: 0;
        left: 0;
        z-index: -10;

        .container-logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .logo-image {
                width: $logo-image-width;
            }
            .hero-message {
                text-align: center;
                height: 3vh;
                @include flex-center;
                height: auto;
                .hero-text {
                    display: flex;
                    justify-content: center;
                    color: $color_font_nav;

                    line-height: 0.5vw;
                    height: 0vw;
                    font-size: 1.5vw;
                    color: $color_font_nav;
                    // line-height: 5vw;
                }

                .cursor {
                    display: inline-block;
                    width: 0.2vw;
                    height: 2vw;
                    background-color: $nav-area-color;
                    animation: blink 0.75s step-end infinite;
                    opacity: 0.6;
                }
            }
        } //end #container-logo

        @keyframes blink {
            from,
            to {
                background-color: transparent;
            }
            50% {
                background-color: $nav-area-color;
            }
        }
    }
}
