@import "../base/normalize";
@import "../../scss/utilities/maxins";
@import "../../scss/utilities/functions";
@import "../../scss/utilities/variables";

//**************************MOBILE***********************************************
#homePage {
	$logo-image-width: 60vw;
	$homepage_screen_height: 100vw * 1.618;

	width: 100%;
	height: $homepage_screen_height;
	// height: 100vh;

	display: flex;
	flex-direction: column;

	// background-image: url('../../images/sketch-home-bees.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: $color_background_yellow;
	position: relative;
	top: 0;
	left: 0;
	// background-color: pink;


	
		// position: absolute;
		// top: 0;
		// left: 0;
		// z-index: -4;
		// display: flex;
		// flex-direction: column;
		#container_logo {
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// position: absolute;
			// top: 0;
			// left: 0;
			// // z-index: 100;
			// background-color: green;
			// margin: 0;

			#logoImage {
				width: $logo-image-width;
				// margin-bottom: 6vh;
				justify-self: center;
				align-self: center;
			}
		} //end #container_logo

		#hero_message {
			width: 100vw;
			text-align: center;
			// position: absolute;
			// bottom: 14vh;
			// height: 3vh;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			
			#hero_greeting {
				color: $color_font_nav;
				font-family: $monsterrat-font;
				font-size: 4vw;
				font-weight: bolder;
				// line-height: 7vw;
			}

			#hero_text {
				color: $color_font_nav;
				font-family: $monsterrat-font;
				font-size: 3vw;
				color: $color_font_nav;
				line-height: 5vw;
				// background: blue;
			}
		}

		#cursor {
			display: inline-block;
			width: 0.5vw;
			height: .5vw;
			background-color: $nav-area-color;
			animation: blink 0.75s step-end infinite;
			opacity: 0.6;

		}

		@keyframes blink {
			from,
			to {
				background-color: transparent;
			}
			50% {
				background-color: $nav-area-color;
			}
		}
	
} //end home page

//***********************TABLET************************************

@media only screen and (min-width: 768px) {

	#homePage {
	
		#homeContent {
			#container_logo {
				margin-top: 14vh;
	
				#logoImage {
					margin-bottom: 11vh;
				}
			} //end #container_logo
	
			#hero_message {
				#hero_greeting {
				}
	
				#hero_text {
				}
			}
	
			#cursor {
			}

		} //end #homeContent
	} //end home page	
}

//***********************Desktop************************************
@media only screen and (min-width: 992px) {
	#homePage {
		$logo-image-width: 55vh;
		height: 100vh;
		
			#container_logo {

				// margin-top: 11vh;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
				#logoImage {
					width: $logo-image-width;
					margin-bottom: 0vh;
				}
			} //end #container_logo

			#hero_message {

				#hero_greeting {
					font-size: 1.3vw;
					line-height: 3vw;
				}

				#hero_text {
					font-size: 1.1vw;
					line-height: 1.5vw;
				}
			}

			#cursor {
				width: 0.15vw;
				height: 1.5vw;	
			}
		 //end #homeContent
	} //end home page
}
