.menu-normal {
        a {
                color: $color_font_nav;
        }
}
#homePage-normal {
        overflow: hidden;
        $logo-image-width: 60vw;
        $homepage_screen_height: 100vw * 1.618;
        width: 100%;
        height: $homepage_screen_height;
        display: flex;
        flex-direction: column;
        // background-color: $color_background_yellow;
        position: relative;
        top: 0;
        left: 0;
        @include flex-center;

        .container_logo {
                width: 100%;
                height: 100vh;
                @include flex-center;
                flex-direction: column;

                // background: green;
                .logo {
                        // background: red;
                        width: $logo-image-width;
                        height: $logo-image-width;
                        display: relative;
                        .ribbon,
                        .t,
                        .dots,
                        .logoImage-grow {
                                width: $logo-image-width;
                                margin-bottom: 0vh;
                                display: inline-block;
                                position: absolute;
                                z-index: 96;
                        }

                        .ribbon {
                                z-index: 98;
                        }

                        .dots {
                                z-index: 97;
                        }

                        .t {
                                z-index: 97;
                        }
                        .logoImage-grow {
                                width: $logo-image-width;
                                justify-self: center;
                                align-self: center;
                        }
                }

                .hero_message {
                        width: 100vw;
                        text-align: center;
                        height: 3vh;
                        @include flex-center;
                        .hero_greeting {
                                color: $color_font_nav;
                                font-family: $monsterrat-font;
                                font-size: 4vw;
                                font-weight: bolder;
                                line-height: 7vw;
                        }

                        .hero_text {
                                color: $color_font_nav;
                                font-family: $monsterrat-font;
                                font-size: 3vw;
                                color: $color_font_nav;
                                line-height: 5vw;
                        }
                }
        } //end #container_logo
        #background-david {
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: -21;
                // animation: background-fade-in 3s forwards ease-in;
                opacity: 1;
                left: 0;
                top: 0;
                // background: red;
        }

        #background-normal {
                // width: 100%;
                // height: 100vh;
                background: $color_background_yellow;
                // position: absolute;
                // top: 0;
                // left: 0;
                z-index: -1;

                @include position-absolute-fillpage;
        }
        .background-fade-in {
                animation: background-fade-in 2s;
        }

        @keyframes background-fade-in {
                from {
                        opacity: 0;
                }
                to {
                        opacity: 1;
                }
        }

        .cursor {
                display: inline-block;
                width: 0.5vw;
                height: 4vw;
                background-color: $nav-area-color;
                animation: blink 0.75s step-end infinite;
                opacity: 0.6;
        }

        @keyframes blink {
                from,
                to {
                        background-color: transparent;
                }
                50% {
                        background-color: $nav-area-color;
                }
        }
} //end home page

//***********************TABLET************************************
@media only screen and (min-width: 768px) {
        #homePage {
                $logo-image-width: 50vh;
                height: 100vh;

                #container_logo {
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: 0;
                        // #logoImage {
                        //         width: $logo-image-width;
                        //         margin-bottom: 0vh;
                        // }
                }
        }
}
//***********************Desktop************************************
@media only screen and (min-width: 992px) {
        #homePage-normal {
                height: 100vh;
                $logo-image-width: 25vw;
                @include flex-center;
                .container_logo {
                        align-items: center;
                        @include flex-center;
                        position: relative;
                        top: -15vw;

                        animation: move-down 1s forwards;
                        // animation-delay: 2s;

                        @keyframes move-down {
                                from {
                                        top: -15vw;
                                }
                                to {
                                        top: 0vw;
                                }
                        }
                        .logo {
                                // background: red;
                                width: $logo-image-width;
                                height: $logo-image-width;
                                @include flex-center;
                                overflow: hidden;
                                .ribbon,
                                .t,
                                .dots,
                                .logoImage {
                                        width: $logo-image-width;
                                        margin-bottom: 0vh;
                                        display: inline-block;
                                        position: absolute;
                                        z-index: 96;
                                        animation: grow forwards 1s;
                                }
                                @keyframes grow {
                                        from {
                                                width: 17vw;
                                                opacity: 0.8;
                                        }
                                        to {
                                                width: 25vw;
                                                opacity: 1;
                                        }
                                }

                                .ribbon {
                                        opacity: 0;
                                        z-index: 98;
                                        animation: fade-in forwards 0.5s;
                                        animation-delay: 2s;
                                }

                                .dots {
                                        opacity: 0;
                                        z-index: 97;
                                        animation: fade-in forwards 0.5s;
                                        animation-delay: 1s;
                                }

                                .t {
                                        opacity: 0;
                                        z-index: 97;
                                        animation: fade-in forwards 0.5s;
                                        animation-delay: 1.5s;
                                }

                                @keyframes fade-in {
                                        from {
                                                opacity: 0;
                                        }
                                        to {
                                                opacity: 1;
                                        }
                                }
                        }
                        .hero_message {
                                position: absolute;
                                bottom: 9vw;
                                .hero_greeting {
                                        font-size: 1.3vw;
                                        line-height: 3vw;
                                }

                                .hero_text {
                                        font-size: 1.1vw;
                                        line-height: 1.5vw;
                                }
                        }

                        .cursor {
                                width: 0.15vw;
                                height: 1.5vw;
                        }
                }

                .container-david {
                        .david,
                        .above-logo,
                        .david-background {
                                display: none;
                        }
                }
        }
}
