// $project_container_width: 80.5vw;
// $project_container_width: 80.5vw;

// $project_image_width: 75vw;
// $project_image_padding: ($project_container_width - $project_image_width)/2;

//**************************MOBILE***********************************************

#portfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $color_font_blue;
    // position:relative;
    // background-size: 100vw auto;
    // background-image: url('../../images/portfolio/project-area-sketch.png');

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;

        // &:last-child{margin-bottom: 7vw;}
        
        .project-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // height: 100vh;
            // width: 90%;
            margin-bottom: 4vh;
            height: 96.5%;

            background-color: red;

            .myVideo {
                width: 100%;
                height: auto;
            }
            .project-image {
                width: 100%;
                height: auto;
                // width: 75%;
                // opacity: .6;
            }

            .project-text {
                width: 100%;
                height: 100%;
                background-color: rgb(255, 253, 253);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $color_font_blue;
                font-family: $monsterrat-font;
                

                .project-name {
                    margin-top: 8vw;
                    font-size: 3.7vw;
                    color: $color_font_blue;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .project-description {
                    margin-top: 3vw;
                    text-align: center;
                    width: 100%;
                    color: $color_font_blue;
                    padding: 0 7vw;
                    font-size: 3.3vw;
                    line-height: 5.5vw;
                    font-weight: 400;
                    // background-color: blue;
                }

                .preview_link {
                    background-color: #dbbd7f;
                    padding: 2vw 6vw;
                    text-align: center;
                    border-radius: 6vw;
                    font-size: 3vw;

                    margin: 7vw 0;

                    a {
                        color: $color_font_blue;
                        font-size: 2.3vw;
                        color: inherit;
                        text-transform: uppercase;
                        font-family: $monsterrat-font;
                        font-weight: 600;
                    }
                } //end .preview_link
            } //end .project-text
        } //end .project-container

        .portfolio-site {
            // background-image: url('../../images/portfolio/personal_sight.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
        }

        .e-commerce {
            // background-image: url('../../images/portfolio/ecommerce.PNG');
            background-size: 100% auto;
            background-repeat: no-repeat;
        }

        .drum-machine {
            // background-image: url('../../images/portfolio/drum-machine.PNG');
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    } //end projects
} //end #portfolioPage

//**************************DESkTOP***********************************************

@media only screen and (min-width: 992px) {
    #portfolioPage {
        .container {
            // background: red;
            max-width: 100%;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: $color_font_blue;
        // position:relative;
        // background-size: 100vw auto;
        // background-image: url('../../images/portfolio/project-area-sketch.png');

        #projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            a {
                text-decoration: none;
            }

            .project-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // height: 100vh;
                // width: 90%;
                margin-bottom: 5vh;
                overflow: hidden;
                position: relative;
                
                background-color: white;

                .project_overlay {
                    background: rgb(7, 7, 7);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    // z-index: 220;
                    // left: 0;
                    // top: 0;
                    &:hover{
                        opacity: .2;
                    }
                }

                .myVideo {
                    width: 100%;
                    height: auto;
                }
                .project-image {
                    width: 100%;
                    height: auto;
                    // width: 75%;
                    // opacity: .6;
                }

                .project-text {
                    width: 90%;
                    height: 100%;
                    background-color: rgb(255, 253, 253);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    color: $color_font_blue;
                    font-family: $monsterrat-font;

                    .project-name {
                        margin-top: 4vw;
                        font-size: 2vw;
                    }

                    .project-description {
                        margin-top: 1.2vw;
                        text-align: justify;
                        width: 100%;
                        color: $color_font_blue;
                        padding: 0 2vw;
                        font-size: 1.4vw;
                        line-height: 2.5vw;
                        font-weight: 400;
                        // background-color: blue;
                    }

                    .preview_link {
                        background-color: #dbbd7f;
                        padding: 0.8vw 4vw;
                        text-align: center;
                        border-radius: 6vw;
                        margin: 3vw 0;
                        color: $color_font_blue;
                        font-size: 1vw;
                        color: inherit;
                        text-transform: uppercase;
                        font-family: $monsterrat-font;
                        font-weight: 600;
                    } //end .preview_link
                } //end .project-text
            } //end .project-container

            .portfolio-site {
                // background-image: url('../../images/portfolio/personal_sight.png');
                background-size: 100% auto;
                background-repeat: no-repeat;
            }

            .e-commerce {
                // background-image: url('../../images/portfolio/ecommerce.PNG');
                background-size: 100% auto;
                background-repeat: no-repeat;
            }

            .drum-machine {
                // background-image: url('../../images/portfolio/drum-machine.PNG');
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
        } //end projects
    } //end #portfolioPage
}
