//**************************MOBILE***********************************************
#skillsPage {
    $font-size-skill-title: 2.5vw;
    $progress-percentage-font-size: $font-size-skill-title * 0.9;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
    .container {
        max-width: 100%;
    }
    #progress-bars-section {
        display: flex;
        flex-direction: column;
        width: 100%;

        .progress-bar-container {
            display: flex;
            align-items: center;
            height: $font-size-skill-title * 1.6;
            width: 100%;
            margin-bottom: 3.4vw;

            .skill-name,
            .progressPercentage {
                color: rgb(148, 147, 147);
            }
            .skill-name {
                display: flex;
                align-items: flex-end;
                flex-grow: 6;
                flex-basis: 1;
                width: 0;
                font-size: $font-size-skill-title;
                font-weight: 400;
                font-family: $droid-font;
                // color: rgb(148, 147, 147);
                height: 100%;
                line-height: 100%;
                overflow: visible;
                font-family: $monsterrat-font;
            }

            .progress-bar {
                display: flex;
                flex-grow: 7.7;
                flex-basis: 1;
                width: 0;
                flex-direction: row;
                height: 100%;
                background-color: transparent;

                .container-progress-percentage {
                    width: 100%;
                    height: 100%;
                    background-color: #e2e2e2;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;

                    .progressPercentage {
                        height: 100%;
                        border-radius: 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding-right: 2vw;
                        background-color: $linkColor;

                        padding-left: 1.5vw;

                        font-size: 2vw;
                        font-family: $monsterrat-font;
                    }

                    .html {
                        width: 80%;
                    }
                    .scss {
                        width: 75%;
                    }
                    .javascript {
                        width: 60%;
                    }
                    .jQuery {
                        width: 65%;
                    }
                    .bootstrap {
                        width: 55%;
                    }
                    .responsive-design {
                        width: 65%;
                    }

                    .react {
                        width: 75%;
                    }
                    .jest {
                        width: 55%;
                    }
                    .typescript {
                        width: 50%;
                    }

                    .node {
                        width: 75%;
                    }
                    .express {
                        width: 50%;
                    }
                    .agile {
                        width: 90%;
                    }
                    .git {
                        width: 55%;
                    }

                    .photoshop {
                        width: 85%;
                    }
                } //end  .contanier-progress-percentage
            }
        } //end .progress-bar-container
    } //end #progress-bars-section
} //end skillspage

//***********************TABLET************************************

//***********************Desktop************************************
@media only screen and (min-width: 992px) {
    #skillsPage {
        $font-size-skill-title: 1.5vw;
        $progress-percentage-font-size: $font-size-skill-title * 0.9;

        .container {
            max-width: 100%;
        }

        #progress-bars-section {
            width: 100%;

            .progress-bar-container {
                height: $font-size-skill-title * 1.4;
                width: 100%;
                margin-bottom: 2vw;
                display: flex;
                align-items: flex-start;
                // background: green;

                .skill-name {
                    font-size: $font-size-skill-title * 0.6;
                    font-weight: 400;
                    width: 100%;
                    height: 100%;
                    line-height: 100%;
                    overflow: visible;
                    position: absolute;
                    z-index: 2;
                    padding-left: 1vw;
                    display: flex;
                    align-items: center;
                    font-family: $monsterrat-font;
                    // background: red;
                }

                .progress-bar {
                    display: flex;
                    // flex-grow: 7.7;
                    // flex-basis: 1;
                    flex-direction: row;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .container-progress-percentage {
                        width: 100%;
                        height: 100%;

                        .progressPercentage {
                            align-items: center;
                            background-color: $linkColor;
                            padding-right: 0.8vw;
                            font-size: $font-size-skill-title * 0.6;
                        }
                    } //end  .contanier-progress-percentage
                }
            } //end .progress-bar-container
        } //end #progress-bars-section
    } //end skillspage
}
