//--------------------------MOBILE----------------------//
#skills-page {
    $font-size-skill-title: 1.1rem;
    $progress-percentage-font-size: $font-size-skill-title * 0.9;
    background-image: url(../../images/background-egg-shell.png);
    background-size: 170px;
    background-color: white;

    .container {
        max-width: 100%;
    }
    #progress-bars-section {
        display: flex;
        flex-direction: column;
        width: 100%;

        .progress-bar-container {
            display: flex;
            align-items: center;
            height: $font-size-skill-title * 2;
            width: 100%;
            margin-bottom: 5.4vw;

            .skill-name,
            .progressPercentage {
                color: rgb(148, 147, 147);
            }
            .skill-name {
                display: flex;
                align-items: flex-end;
                flex-grow: 6;
                flex-basis: 1;
                font-family: $monsterrat-font;
                font-size: $font-size-skill-title;
                font-weight: 400;
                height: 100%;
                line-height: 100%;
                width: 100%;
                overflow: visible;
                z-index: 2;
                position: absolute;
                padding: 1vw;
                align-items: center;
                margin: 0;
            }

            .progress-bar {
                display: flex;
                flex-direction: row;
                flex-grow: 7.7;
                flex-basis: 1;
                width: 0;
                height: 100%;
                background-color: transparent;
                overflow: hidden;

                .container-progress-percentage {
                    width: 100%;
                    height: 100%;
                    background-color: #dadada;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;
                    .progressPercentage {
                        height: 100%;
                        border-radius: 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding-right: 2vw;
                        background-color: $color_background_yellow;
                        padding-left: 1.5vw;
                        font-size: 1rem;
                        font-family: $monsterrat-font;
                    }

                    .html {
                        width: 80%;
                    }
                    .scss {
                        width: 75%;
                    }
                    .javascript {
                        width: 60%;
                    }
                    .jQuery {
                        width: 65%;
                    }
                    .bootstrap {
                        width: 85%;
                    }
                    .ajax {
                        width: 40%;
                    }
                    .responsive-design {
                        width: 80%;
                    }

                    .react {
                        width: 75%;
                    }

                    .styledComponents {
                        width: 75%;
                    }
                    .jest {
                        width: 55%;
                    }
                    .typescript {
                        width: 70%;
                    }

                    .node {
                        width: 75%;
                    }
                    .express {
                        width: 50%;
                    }
                    .agile {
                        width: 90%;
                    }
                    .git {
                        width: 70%;
                    }

                    .photoshop {
                        width: 85%;
                    }
                    .CSharp {
                        width: 75%;
                    }

                    .sql {
                        width: 75%;
                    }

                    .nosql{
                        width: 50%;
                    }
                }
            }
        }
    }
}

//--------------------------TABLET--------------------------//
@media only screen and (min-width: 768px) {
    #skills-page {
        $font-size-skill-title: 2.2rem;

        #progress-bars-section {
            .progress-bar-container {
                height: $font-size-skill-title * 1.4;
                width: 95%;
                margin-bottom: 2.9vw;
                align-items: flex-start;
                display: flex;
                width: 100%;
                margin-bottom: 2.5vw;

                .skill-name {
                    font-size: $font-size-skill-title * 0.7;
                    width: 100%;
                    position: absolute;
                    padding-left: 1vw;
                    align-items: center;
                }

                .progress-bar {
                    justify-content: flex-start;
                    width: 100%;
                    height: 100%;

                    .container-progress-percentage {
                        width: 95%;
                        height: 100%;

                        .progressPercentage {
                            align-items: center;
                            padding-right: 0.8vw;
                            font-size: $font-size-skill-title * 0.65;
                        }
                    }
                }
            }
        }
    }
}

//--------------------------Desktop--------------------------//
@media only screen and (min-width: 992px) {
    #skills-page {
        $font-size-skill-title: 2.5rem;
        $progress-percentage-font-size: $font-size-skill-title * 0.9;
    }
}
