//**************************MOBILE***********************************************
#skillsPage {
	$font-size-skill-title: 2.5vw;
	$progress-percentage-font-size: $font-size-skill-title * 0.9;

	// background-image: url('../../images/sketch_skills.PNG');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: white;

	#progress-bars-section {
		display: flex;
		flex-direction: column;

		.progress-bar-container {
			display: flex;
			align-items: center;
			// background-color: green;
			height: $font-size-skill-title * 1.4;
			width: 100%;
			margin-bottom: 3.4vw;

			.skill-name {
				display: flex;
				align-items: flex-end;
				flex-grow: 3.5;
				flex-basis: 1;
				width: 0;
				font-size: $font-size-skill-title;
				font-weight: 400;
				font-family: $droid-font;
				color: grey;
				height: 100%;
				line-height: 100%;
				overflow: visible;
			}

			.progress-bar {
				display: flex;
				flex-grow: 7.7;
				flex-basis: 1;
				width: 0;
				flex-direction: row;
				// height: $progress-percentage-font-size*1.5;
				height: 100%;

				// align-items: flex-end;
				// justify-content: flex-start;
				// align-items: flex-end;
				// background-color: blue;

				.container-progress-percentage {
					width: 100%;
					height: 100%;
					background-color: #e2e2e2;
					overflow: hidden;
					display: flex;
					align-items: flex-end;

					.progressPercentage {
						height: 100%;
						border-radius: 0;
						display: flex;
						// justify-content: flex-start;
						align-items: center;
						background-color: $linkColor;
						color: grey;
						padding-left: 1.5vw;
						font: $percentage-font;
						font-size: $progress-percentage-font-size;
					}

					.html {
						width: 80%;
					}
					.scss {
						width: 75%;
					}
					.javascript {
						width: 60%;
					}
					.jQuery {
						width: 65%;
					}
					.bootstrap {
						width: 55%;
					}
					.responsive-design {
						width: 65%;
					}

					.react {
						width: 75%;
					}
					.jest {
						width: 55%;
					}
					.typescript {
						width: 50%;
					}

					.node {
						width: 75%;
					}
					.express {
						width: 20%;
					}
					.agile {
						width: 90%;
					}
					.git {
						width: 55%;
					}
				} //end  .contanier-progress-percentage
			}
		} //end .progress-bar-container
	} //end #progress-bars-section
} //end skillspage

//***********************TABLET************************************


//***********************Desktop************************************
@media only screen and (min-width: 992px) {
	#skillsPage {
	$font-size-skill-title: 1.5vw;
	$progress-percentage-font-size: $font-size-skill-title * 0.9;


	#progress-bars-section {
	
		.progress-bar-container {
		
			// background-color: green;
			height: $font-size-skill-title * 1.4;
			width: 100%;
			margin-bottom: 3.4vw;

			.skill-name {
				display: flex;
				align-items: flex-end;
				flex-grow: 3.5;
				flex-basis: 1;
				width: 0;
				font-size: $font-size-skill-title;
				font-weight: 400;
				font-family: $droid-font;
				color: grey;
				height: 100%;
				line-height: 100%;
				overflow: visible;
			}

			.progress-bar {
				display: flex;
				flex-grow: 7.7;
				flex-basis: 1;
				width: 0;
				flex-direction: row;
				// height: $progress-percentage-font-size*1.5;
				height: 100%;

				// align-items: flex-end;
				// justify-content: flex-start;
				// align-items: flex-end;
				// background-color: blue;

				.container-progress-percentage {
					width: 100%;
					height: 100%;
					background-color: #e2e2e2;
					overflow: hidden;
					display: flex;
					align-items: flex-end;

					.progressPercentage {
						height: 100%;
						border-radius: 0;
						display: flex;
						// justify-content: flex-start;
						align-items: center;
						background-color: $linkColor;
						color: rgb(197, 145, 2);
						padding-left: 1.5vw;
						font: $percentage-font;
						font-size: $progress-percentage-font-size;
					}

					.html {
						width: 80%;
					}
					.scss {
						width: 75%;
					}
					.javascript {
						width: 60%;
					}
					.jQuery {
						width: 65%;
					}
					.bootstrap {
						width: 55%;
					}
					.responsive-design {
						width: 65%;
					}

					.react {
						width: 75%;
					}
					.jest {
						width: 55%;
					}
					.typescript {
						width: 50%;
					}

					.node {
						width: 75%;
					}
					.express {
						width: 20%;
					}
					.agile {
						width: 90%;
					}
					.git {
						width: 55%;
					}
				} //end  .contanier-progress-percentage
			}
		} //end .progress-bar-container
	} //end #progress-bars-section
} //end skillspage

}
