//**************************MOBILE***********************************************
#skills-page {
    $font-size-skill-title: 2.5vw;
    $progress-percentage-font-size: $font-size-skill-title * 0.9;
    background: url(../../images/background-skills-page.png);
    background-size: 200px;
    background-color: white;

    .container {
        max-width: 100%;
    }
    #progress-bars-section {
        display: flex;
        flex-direction: column;
        width: 100%;

        .progress-bar-container {
            display: flex;
            align-items: center;
            height: $font-size-skill-title * 1.6;
            width: 100%;
            margin-bottom: 3.4vw;

            .skill-name,
            .progressPercentage {
                color: rgb(148, 147, 147);
            }
            .skill-name {
                display: flex;
                align-items: flex-end;
                flex-grow: 6;
                flex-basis: 1;
                width: 0;
                font-size: $font-size-skill-title;
                font-weight: 400;
                font-family: $droid-font;
                height: 100%;
                line-height: 100%;
                overflow: visible;
                font-family: $monsterrat-font;
                z-index: 2;
            }

            .progress-bar {
                display: flex;
                flex-grow: 7.7;
                flex-basis: 1;
                width: 0;
                flex-direction: row;
                height: 100%;
                background-color: transparent;
                overflow: hidden;

                .container-progress-percentage {
                    width: 100%;
                    height: 100%;
                    background-color: #e2e2e2;
                    overflow: hidden;
                    display: flex;
                    align-items: flex-end;

                    .progressPercentage {
                        height: 100%;

                        border-radius: 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        padding-right: 2vw;
                        background-color: $color_background_yellow;
                        padding-left: 1.5vw;
                        font-size: 2vw;
                        font-family: $monsterrat-font;
                    }

                    .html {
                        width: 80%;
                    }
                    .scss {
                        width: 75%;
                    }
                    .javascript {
                        width: 60%;
                    }
                    .jQuery {
                        width: 65%;
                    }
                    .bootstrap {
                        width: 55%;
                    }
                    .ajax {
                        width: 50%;
                    }
                    .responsive-design {
                        width: 65%;
                    }

                    .react {
                        width: 75%;
                    }
                    .jest {
                        width: 55%;
                    }
                    .typescript {
                        width: 50%;
                    }

                    .node {
                        width: 75%;
                    }
                    .express {
                        width: 50%;
                    }
                    .agile {
                        width: 90%;
                    }
                    .git {
                        width: 55%;
                    }

                    .photoshop {
                        width: 85%;
                    }
                }
            }
        }
    }
}

//***********************TABLET************************************

//***********************Desktop************************************
@media only screen and (min-width: 992px) {
    #skills-page {
        $font-size-skill-title: 1.5vw;
        $progress-percentage-font-size: $font-size-skill-title * 0.9;
        height: 100vh;
        #progress-bars-section {
            .progress-bar-container {
                height: $font-size-skill-title * 1.2;
                width: 95%;
                margin-bottom: 1.9vw;
                align-items: flex-start;

                .skill-name {
                    font-size: $font-size-skill-title * 0.6;
                    width: 100%;
                    position: absolute;
                    padding-left: 0.75vw;
                    align-items: center;
                }

                .progress-bar {
                    justify-content: flex-start;
                    width: 100%;
                    height: 100%;

                    .container-progress-percentage {
                        width: 95%;
                        height: 100%;

                        .progressPercentage {
                            align-items: center;
                            padding-right: 0.7vw;
                            font-size: $font-size-skill-title * 0.6;
                        }
                    }
                }
            }
        }
    }
}
