@mixin home-page-normal {
        #nav_link {
                color: $color_font_nav;
        }
        #david,
        #above-logo,
        #david-background {
                display: none;
        }
        #homePage {
                $logo-image-width: 55vh;
                height: 100vh;
                $logo-image-width: 25vw;
                #container_logo {
                        align-items: center;
                        position: relative;
                        top: 0;
                        left: 0;
                        margin: 0;

                        #ribbon,
                        #t,
                        #dots,
                        #logoImage {
                                width: $logo-image-width;
                                margin-bottom: 0vh;
                                display: inline-block;
                                position: absolute;
                        }

                        #logoImage {
                                z-index: 96;
                        }

                        #ribbon {
                                z-index: 98;
                        }

                        #dots {
                                z-index: 97;
                        }

                        #t {
                                z-index: 97;
                        }

                        #hero_message {
                                position: absolute;
                                bottom: 9vw;
                                #hero_greeting {
                                        font-size: 1.3vw;
                                        line-height: 3vw;
                                }

                                #hero_text {
                                        font-size: 1.1vw;
                                        line-height: 1.5vw;
                                }
                        }

                        #container-david {
                        }
                        #cursor {
                                width: 0.15vw;
                                height: 1.5vw;
                        }
                }
        }
}

@mixin home-page-david {
        #nav_link {
                color: white;
        }
        #homePage {
                height: 100vh;
                $logo-image-width: 25vw;
                background: white;

                #container_logo {
                        align-items: center;
                        position: relative;
                        top: 0;
                        left: 0;
                        margin: 0;
                        animation: move-up 1.5s forwards;
                        animation-delay: 1.75s;
                        #logoImage,
                        #t,
                        #dots,
                        #ribbon {
                                width: $logo-image-width;
                                margin-bottom: 0vh;
                                display: inline-block;
                                position: absolute;
                        }

                        @keyframes move-up {
                                from {
                                }
                                to {
                                        top: -13vw;
                                }
                        }
                        #logoImage {
                                z-index: 96;
                                animation: shrink forwards 1s;
                                animation-delay: 1.75s;
                                width: $logo-image-width;
                                margin-bottom: 0vh;
                                display: inline-block;
                        }

                        #ribbon {
                                z-index: 98;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 1s;
                        }

                        #dots {
                                z-index: 97;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 1s;
                        }

                        #t {
                                z-index: 97;
                                animation: fade-out forwards 0.5s;
                                animation-delay: 1s;
                        }

                        @keyframes shrink {
                                from {
                                        width: 50vh;
                                        opacity: 1;
                                }
                                to {
                                        width: 38vh;
                                        opacity: 0.8;
                                }
                        }

                        @keyframes fade-out {
                                from {
                                        opacity: 1;
                                }
                                to {
                                        opacity: 0;
                                }
                        }

                        #hero_message {
                                display: none;
                        }
                }

                #container-david {
                        #david {
                                position: absolute;
                                height: 100%;
                                z-index: 100;
                                justify-self: flex-start;
                                left: -100vw;
                                bottom: 0;
                                animation: david-in 1.75s forwards ease-in;
                                animation-delay: 1s;
                        }
                        #above-logo {
                                position: absolute;
                                height: 100%;
                                bottom: 0;
                                z-index: 99;
                                animation: background-fade-in 1s forwards
                                        ease-in;
                                animation-delay: 2s;
                                opacity: 0;
                        }
                        @keyframes david-in {
                                from {
                                        left: -100vw;
                                }
                                to {
                                        left: 0vw;
                                }
                        }

                        #david-background {
                                position: absolute;
                                height: 100%;
                                bottom: 0;
                                z-index: 1;
                                animation: background-fade-in 2s forwards
                                        ease-in;
                                opacity: 0;
                        }

                        @keyframes background-fade-in {
                                from {
                                        opacity: 0;
                                }
                                to {
                                        opacity: 1;
                                }
                        }
                }
        }
}

@mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

@mixin position-absolute-fillpage {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: -1;
}
@mixin padding-margin-zero {
        padding: 0;
        margin: 0;
}

@mixin lhCrop($line-height) {
        &::before {
                content: "";
                display: block;
                height: 0;
                width: 0;
                margin-top: calc((1 - #{$line-height}) * 0.5em);
        }
}
