$logo-image-width: 15vw;
$monsterrat-font: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$droid-font: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-handwritting: "Kaushan Script", cursive;

$percentage-font: Roboto, "Helvetica/ Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$about-secton-font: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$nav-area-color: #212529;
$color_background_grey: #e6e6e6;
$color_background_yellow: #ffd306;
$color_font_blue: #214261;
$color_font_nav: #012040;
$color_blue_background: #214261;
$color_light_blue: #9cb9bc;
$font_dark_grey: #212529;
$font_light_grey: #6c757d;
$linkColor: #fdcb17;
$linkActiveColor: #feb836;
$color_blue_logo: #1f2329;

$logo-fade-in-time: 0.8s;
$nav-bar-font: "Montserrat", sans-serif;
// $height_nav-bar: 5vh;
