
// $hamburger_lines_thickness: .5vw;

// $hamburger_lines_color: white;

$monsterrat-font: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol", "Noto Color Emoji";
$droid-font:"Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$nav-area-color:#212529;
$color_background_grey:#f5f5f5;
$color_background_yellow: #ffd306;
$color_light_blue: #9cb9bc;
$font_dark_grey:  #212529;
$font_light_grey: #6c757d;
$linkColor: #fdcb17;
$linkActiveColor: #feb836;
// $color_page_background: #ffd306;
$color_blue_logo: #1f2329;

// $nav_bar_height:  69px;

$logo-text-size: 6vw;
$nav-text-size: 3vw;

$logo-fade-in-time: .8s;

$nav-bar-font: 'Montserrat', sans-serif;
$hero_text_padding: 0px 10% 0 10%;

$height_nav-bar: 13.85vw;