@import '../../scss/utilities/maxins';
@import '../../scss/utilities/functions';
@import '../../scss/utilities/variables';


$linkColor: #fdcb17;
// $linkActiveColor: #fce40b;
$linkActiveColor: #feb836;

$nav-background:#212529;

$logo-fade-in-time: .8s;

$logo-image-height: 20vw;    
$logo-image-width: 20vw;
$about-secton-font: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";




 /* Style the navigation menu */
 .topnav {
  display: flex;
  // flex-grow: 1;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

#logo_image{
  flex-grow: 1;
  flex-basis: 0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  // flex-grow: 1;
  display: none;
}

.fa-bars{
  display: flex;
  align-items: center;
  // background-color: pink;
  @include padding-margin-zero;
  padding-right: 25px;
}
/* Style navigation menu links */
.icon {
  color:$linkColor;
  // padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

  @include padding-margin-zero
}

/* Style the hamburger menu */
.topnav a.icon {
  // background: black;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 0;
  // background-color: blue;

  // height: 100%;
  // position: absolute;
  // right: 0;
  // top: 0;
}


#text_logo{
  font-size: .8em;
  padding-left: 25px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: flex-start;
  color: $linkColor;
  // background-color: purple;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none; 
    
 
 &:focus{
      color: $linkActiveColor;
    }

   &:hover {
      color:red;
    }

   &:active{
      color: $linkActiveColor;
    }
  }

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  // background-color: #4CAF50;
  display: flex;
  align-items: center;
  color: white;
} 


#container-page{
  display: flex;
  flex-direction: column;
}



.container-section{
  padding: 2vh 3vw 2vh 3vw;
}

#heroOverlay {
  background: -webkit-radial-gradient(rgb(216, 216, 216), rgb(163, 163, 163));
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

#menu {
    display:none;  
    // flex-grow:1;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    // background-color: pink;
}



#header-section{
  height: $logo-image-height * 1.1;
}



#logoImage{
    position: relative;
    width: $logo-image-width;
    height: $logo-image-height;
    animation: logo_fade_in forwards;
    animation-duration: $logo-fade-in-time;
    flex-grow: 1;
    flex-basis: 0;

    @keyframes logo_fade_in
      {
        from{
          opacity: 0;
          transform: translateY(100vh)
        }
        to{
          opacity: 1;
          transform: translateY(0vh)
        }
      }
}


  #heroOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    top: 0;
    left: 0;
    animation-name: background-fade-in;
    animation-duration: 3s;

      @keyframes background-fade-in{
        from{
          opacity: .2;
        }
        to{
          opacity: 1;
        }
  }



}





// Large Screens
@media only screen and (min-width: 600px) {
    .slicknav_menu {
        display:none;
    }

    #menu {
        display:block;
    }
  }
