
// #topnav_area
//       {
//       // display: flex;
//       // align-items: center;
//       // justify-content: center;
//       // width: 100vw;
//       // overflow: hidden;
//       // background-color:transparent;

//       // height: $nav_bar_height;
//       // // box-shadow: .4px .4px 2.5px 1px  #313131;
//       // position: fixed;
//       // z-index: 100;
//       // top: 0; 


//       .container-navbar
//           {
//           width: 90vw;
//           display: flex;
//           position: relative;
//           align-items: center;

//           #logo_text
//               {
//                     @include padding-margin-zero;
//                     display: flex;
//                     flex-grow: 1;
//                     flex-shrink: 1;
//                     width: 0;
//                     flex-basis: 1;
//                     color: $linkColor;
//                     font-size: $logo-text-size;
//                     line-height:1em;
//                     height: 100%;
//                     font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//                     text-decoration: none; 
//               } //end logo_text 

            
          // #menu
          //     {
                    // display: flex;
                    // justify-content: flex-end;
                    // align-items: center;
                    // flex-grow: 1;
                    // flex-shrink: 1;
                    // flex-basis: 1;
                    // width: 0;
                    // line-height: 1em;
                    // height: 1em;


                    // li{
                    //       a{  
                    //         display: flex;
                    //         align-items: flex-end;
                    //         padding-left: 1.3em;
                    //         font-family: $nav-bar-font;
                    //         font-size: $nav-text-size; 
                    //         line-height: 100%;
                    //         height: 100%;
                    //         color:red;
                    //         // color: green
                            
                    //       }
                          

                        //   .current{
                        //     color: #ffffff;
                        //     background:#f1d74c;
                        //  }
                    //   }//end of <li>
                    // }
    //   }//end top nav
    //   }//end container-navbar

    // }//end top-nav-area

