@import '../../scss/utilities/maxins';
@import '../../scss/utilities/functions';
@import '../../scss/utilities/variables';


$linkColor: #fed136;
// $linkActiveColor: #fce40b;
$linkActiveColor: #feb836;

$nav-background:#212529;

$logo-fade-in-time: .8s;

$logo-image-height: 60vw;    
$logo-image-width: 60vw;

#container-page{
  display: flex;
  flex-direction: column;
}

.container-section{
  padding: 2vh 3vw 2vh 3vw;
}

#heroOverlay {
  background: -webkit-radial-gradient(rgb(216, 216, 216), rgb(163, 163, 163));
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

#menu {
    display:none;  
    // flex-grow:1;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    // background-color: pink;
}

.slicknav_menu {
  display: flex;
  align-items: center;
  // background-color: green;
  @include padding-margin-zero;

  opacity: 0;
  animation: nav-bar-fade-in forwards;
  animation-duration: 1s;
  animation-delay: $logo-fade-in-time * .6;
  background-color: transparent;


        .slicknav_icon{
          @include padding-margin-zero;
          width: 1.125em;
          height: .8em;
        }

        .slicknav_icon-bar{
          box-shadow: none;
          background-color: $linkColor;
        }

        @keyframes nav-bar-fade-in{
            from{
              opacity: 0;
            }

            to{
              opacity: 1;
            }
        }

    
        .slicknav_btn {
            margin: 0;
            padding: 3px;
            margin-right: 22px;
            background-color: transparent;
            text-shadow: none;
        
            // background-color: blue;
        
          }

          .slicknav_brand{
            margin-left: 12px;
            flex-grow: 2;
            // background-color: grey
          }
  }




#text_logo{
  // flex-grow: 1;
  color: $linkColor;
  // background-color: purple;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none; 
    
 
 &:focus{
      color: $linkActiveColor;
    }

   &:hover {
      color:red;
    }

   &:active{
      color: $linkActiveColor;
    }
  }


#header-section{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: $logo-image-height * 1.1;
}



#logoImage{
    position: relative;
    width: $logo-image-width;
    height: $logo-image-height;
    animation: logo_fade_in forwards;
    animation-duration: $logo-fade-in-time;
    flex-grow: 1;

    // filter: drop-shadow(-1.5px 2.2px 1.3px rgb(124, 124, 124));
    @keyframes logo_fade_in
      {
        from{
          opacity: 0;
          transform: translateY(100vh)
        }
        to{
          opacity: 1;
          transform: translateY(0vh)
        }
      }
}


  #heroOverlay {
    background: radial-gradient(rgb(231, 231, 231), rgb(185, 185, 185));
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    top: 0;
    left: 0;
    animation-name: background-fade-in;
    animation-duration: 3s;

      @keyframes background-fade-in{
        from{
          opacity: .2;
        }
        to{
          opacity: 1;
        }
  }



}





// Large Screens
@media only screen and (min-width: 600px) {
    .slicknav_menu {
        display:none;
    }

    #menu {
        display:block;
    }
  }
