@import '../base/normalize';
@import '../../scss/utilities/maxins';
@import '../../scss/utilities/functions';
@import '../../scss/utilities/variables';


$linkColor: #fdcb17;
// $linkActiveColor: #fce40b;
$linkActiveColor: #feb836;


$logo-fade-in-time: .8s;

$logo-image-height: 20vw;    
$logo-image-width: 20vw;
$about-secton-font: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

  $logo_hamburger_padding: 28px;

  #home{
    display: flex;
    flex-direction: column;
    background-color: #c5c5c5;
    height: 100vh;
    // background-image: url('../../images/Homepage_sample.PNG');
    background-size: 100% auto; 
  }

  #hero_heading{
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: bold;
    color: #012040;
    display: flex;
    justify-content: center;
    // background-color: blue;
    // height: 100%;
    padding: 27px 12% 0 12%;
    text-align: center;
    }

    
 
  

    #hero_text{
      font-size: .9em;
      font-weight: bold;
      line-height: 1.3em;
      color: #4b4d58;
      padding: 18px 18% 0 18%;
      // background-color: green;
      text-align: center;
    }

 /* Style the navigation menu */
 .topnav {
  display: flex;
  overflow: hidden;
  background-color: transparent;
  padding: 32px 0 32px 0;
  align-items: center;
  

  a#hamburger-icon{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1.5em;
  }
  #navigation-links{
    background-color: orange;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }


  #myLinks { /* Hide the links inside the navigation menu (except for logo/home) */
    display: none;
    // background-color: blue;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2244;
    width: 100px;
    a{
      font-family: $about-secton-font;
    }
  }
  

}

#logo_image{
  flex-grow: 1;
  flex-basis: 0;
}


// hamburger icon container
#hamburger-icon {
  // background-color: orange;
  color:$linkColor;
  text-decoration: none;
  font-size: 17px;
  display: block;
  
  @include padding-margin-zero;

    #hamburger_font{
      display: flex;
      align-items: center;
      // background-color: pink;
      @include padding-margin-zero;
      padding-right: $logo_hamburger_padding;
    } 
}


#text_logo{
  background-color: blue;
  color: $linkColor;
  font-size: 1.36em;
  padding-left: $logo_hamburger_padding;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: flex-start;
  // color: $linkColor;
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none; 
    
 
 &:focus{
      color: $linkActiveColor;
    }

   &:hover {
      color:red;
    }

   &:active{
      color: $linkActiveColor;
    }
  }

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: transparent;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  // background-color: #4CAF50;
  display: flex;
  align-items: center;
  color: white;
} 


#container-page{
  display: flex;
  flex-direction: column;
}



.container-section{
  padding: 2vh 3vw 2vh 3vw;
}

#heroOverlay {
  background: -webkit-radial-gradient(rgb(216, 216, 216), rgb(163, 163, 163));
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}

#menu {
    display:none;  
    // flex-grow:1;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    // background-color: pink;
}



#header-section{
  height: $logo-image-height * 1.5;
}



#logoImage{
    background-color: green;
    position: relative;
    width: $logo-image-width;
    height: $logo-image-height;
    animation: logo_fade_in forwards;
    animation-duration: $logo-fade-in-time;
    flex-grow: 1;
    flex-basis: 0;

    @keyframes logo_fade_in
      {
        from{
          opacity: 0;
          transform: translateY(100vh)
        }
        to{
          opacity: 1;
          transform: translateY(0vh)
        }
      }
}


  #heroOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    top: 0;
    left: 0;
    animation-name: background-fade-in;
    animation-duration: 3s;

      @keyframes background-fade-in{
        from{
          opacity: .2;
        }
        to{
          opacity: 1;
        }
  }



}





// Large Screens
@media only screen and (min-width: 600px) {
    .slicknav_menu {
        display:none;
    }

    #menu {
        display:block;
    }
  }
