

body, html{
        margin: 0;
        padding: 0;
        border: 0;
}

$hamburger_menu_width: $height_nav-bar*.322;
$bar_line_thickness: $hamburger_menu_width/6.1319;

$animation_duration: 100ms;

$animation_delay: $animation_duration*.3;


#hamburger-animated{
        // width:$height_nav-bar;
        // height: $height_nav-bar;

        width:15.78vw;
        height: 13.85vw;
        // background: $nav-area-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        z-index: 100;
        background-color: $nav-area-color;
        // background-color: blue;
        opacity: 1;



        #container-lines{          
                // background-color: $nav-area-color;
                width: $hamburger_menu_width;
                height: $hamburger_menu_width;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                .bar
                        {
                        // width: 100%;
                        height: $bar_line_thickness;
                        background-color: white; 
                        // border-radius: 2vw;
                        display: relative;
                        }

                @mixin animation_rotate_in($name,$direction)
                        {
                                        animation: #{$name} $animation_duration ease-in forwards, length_animation $animation_duration $animation_delay ease-in forwards;
                                        
                                        @keyframes #{$name}
                                        {
                                                0%{
                                                        transform: translateY(0%);
                                                 }
        
                            
                                                100%{
                                                        @if $direction==down{
                                                                transform: translateY(($hamburger_menu_width/2)-($bar_line_thickness/2)) rotate(45deg);
                                                        }
                                                        @else 
                                                        {
                                                                transform: translateY(-(($hamburger_menu_width/2)-($bar_line_thickness/2))) rotate(-45deg);
   
                                                        }                
                                                }    
                                        } 
                        }//end animate_rotate_in


                @mixin animation_rotate_out($name,$direction)
                        {
                                        animation: #{$name} $animation_duration ease-in forwards, length_animation $animation_duration $animation_delay ease-in forwards;
                                        
                                        @keyframes #{$name}
                                        {
                                                0%{
                                                        @if $direction==down{
                                                                transform: translateY(($hamburger_menu_width/2)-($bar_line_thickness/2)) rotate(45deg);
                                                        }
                                                        @else 
                                                        {
                                                                transform: translateY(-(($hamburger_menu_width/2)-($bar_line_thickness/2))) rotate(-45deg);
   
                                                        }   
                                                      
                                                 }
        
                            
                                                100%{
                                                        transform: translateY(0%);
                                                }    
                                        } 
                        }//end animate_rotate_out
                
        
                                
                .in_top_line {
                        @include animation_rotate_in(rotate1, down);          
                    }

                .in_bottom_line {
                        @include animation_rotate_in(rotate2, up);           
                    }

                .in_middle_line{
                        animation: fade-out $animation_duration ease-in forwards;
                        @keyframes fade-out 
                        {
                                from{opacity: 1;}
                                to{opacity: 0}        
                        }
                }

                    .out_top_line {
                        @include animation_rotate_out(rotate3, down);          
                    }

                .out_bottom_line {
                        @include animation_rotate_out(rotate4, up);           
                    }

                    .out_middle_line{
                        animation: fade-in $animation_duration ease-in forwards;
                        @keyframes fade-in
                        {
                                from{opacity: 0;}
                                to{opacity: 1}        
                        }
                }

        }
                
}


