#menu{
        display:none;
}

html{
   scroll-behavior: smooth;     
}

@media screen and (min-width: 600px){
   
.slicknav_menu {
display:none;
}
#menu {
display:block;
}
}


.container
        {
        padding: 2.3em 1em 2em 1em;
        }


.section-title-area
        {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.7rem ;
        }


h2.section-heading 
        {
        font-size: 1em;
        margin-top: 0;
        text-transform: uppercase !important;
        color: $font_dark_grey;
        font-weight: 600;
        font-family: $about-secton-font;
        }


h3.section-subheading 
        {
        font-size: .5em;
        font-weight: 400;
        font-style: italic;
        color: $font_light_grey;
        text-transform: none;
        font-family: $droid-font;
        }

