//***********************Mobile************************************

body {
    font-size: 1.6rem;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.my-container {
    padding: 13vw 7vw 13vw 7vw;
}

.container-content {
    margin-top: 11vw;
}

.section-title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;

    .light {
        color: rgb(255, 255, 255);
    }
}

.section-heading {
    font-size: 5.59vw;
    margin-top: 0;
    text-transform: uppercase !important;
    color: $font_dark_grey;
    font-weight: 600;
    font-family: $about-secton-font;
}

.section-subheading {
    font-size: 3vw;
    font-weight: 400;
    margin-top: 1vw;
    font-style: italic;
    color: $font_light_grey;
    text-transform: none;
    font-family: $droid-font;
}

//***********************Tablet************************************
@media only screen and (min-width: 768px) {
    .my-container {
        padding: 13vw 7vw 13vw 7vw;
    }

    .container-content {
        margin-top: 11vw;
    }

    .section-heading {
        font-size: 5.59vw;
        margin-top: 0;
    }

    .section-subheading {
        font-size: 3vw;
        margin-top: 1vw;
    }
}

//***********************Desktop************************************
@media only screen and (min-width: 992px) {
    body {
        font-size: 1.6rem;
    }

    html {
        font-size: 10px;
    }

    .my-container {
        padding: 6vw 7vw;
    }

    .container-content {
        margin-top: 5vw;
    }

    .section-heading {
        font-size: 2.2vw;
        margin-top: 0;
    }

    .section-subheading {
        font-size: 1.2vw;
        margin-top: 0.7vw;
    }
}
